<!-- CARRUSEL DESTACADOS 1 -->

<section class="main-home__cont-prod">

    <h2 class="cont-prod__categorias">Destacados</h2>

    <nav class="cont-prod__articulos">

        <article class="cont-dest">
            <a class="cont-dest__link" href="/producto">
                <article class="cont-dest__img">
                    <img src="/img/products/asus-zephyrus-duo_15-GX550LXS-001.png" class="img__producto" alt="Asus Rog Zephyrus Duo">
                </article>
                <article class="cont-dest__descripcion">
                    <hr class = "descripcion__divis">
                    <h3 class="descripcion__nombre-prod">Asus Rog Zephyrus Duo Ryzen 9 16Gb 1Tb Rtx 3060</h3>
                    <h4 class="descripcion__precio">$580.000</h4>
                </article>
                <a href="/carrito" class="cont-dest__carrito"><i class="material-icons">add_shopping_cart</i></a>
                <button class="cont-dest__fav" type="submit"><i class="far fa-heart"></i></button>                    
            </a>
        </article>
        
        <article class="cont-dest">
            <a class="cont-dest__link" href="/producto">
                <article class="cont-dest__img">
                    <img src="/img/products/placa-video-radeon-rx_41411_1.png" class="img__producto" alt="Placa MSI Radeon Rx6800">
                </article>
                <article class="cont-dest__descripcion">
                    <hr class = "descripcion__divis">
                    <h3 class="descripcion__nombre-prod">Placa De Video Msi Gaming Radeon Rx 6800 X Trio 16G</h3>
                    <h4 class="descripcion__precio">$289.900</h4>
                </article>
                <a href="/carrito" class="cont-dest__carrito"><i class="material-icons">add_shopping_cart</i></a>
                <button class="cont-dest__fav" type="submit"><i class="far fa-heart"></i></button>                  
            </a>
        </article>

        <article class="cont-dest">
            <a class="cont-dest__link" href="/producto">
                <article class="cont-dest__img">
                    <img src="/img/products/kolink-inspire-k20-001.png" class="img__producto" alt="Gabinete Kolink Inspire K20">
                </article>
                <article class="cont-dest__descripcion">
                    <hr class = "descripcion__divis">
                    <h3 class="descripcion__nombre-prod">Gabinete Kolink Inspire K20</h3>
                    <h4 class="descripcion__precio">$6.700</h4>
                </article>
                <a href="/carrito" class="cont-dest__carrito"><i class="material-icons">add_shopping_cart</i></a>
                <button class="cont-dest__fav" type="submit"><i class="far fa-heart"></i></button>                     
            </a>                
        </article>
        
        <article class="cont-dest">
            <a class="cont-dest__link" href="/producto">
                <article class="cont-dest__img">
                    <img src="/img/products/steelseries-rival650-001.png" class="img__producto" alt="Steelseries Rival 650">
                </article>
                <article class="cont-dest__descripcion">
                    <hr class = "descripcion__divis">
                    <h3 class="descripcion__nombre-prod">Mouse Steelseries Rival 650 Quantum</h3>
                    <h4 class="descripcion__precio">$37.570</h4>
                </article>
                <a href="/carrito" class="cont-dest__carrito"><i class="material-icons">add_shopping_cart</i></a>
                <button class="cont-dest__fav" type="submit"><i class="far fa-heart"></i></button>               
            </a>                
        </article>

    </nav>

</section>