<footer>
         
    <section class="contenedor-footer">
           
        <!-- LOGO FOOTER -->
        
        <a class="footer__logo" href="/">
            <img class = "logo__ft-img" src="\img\dft-logo.webp" alt="Logo del fuego techno">
        </a>
        


        <!-- SUBTÍTULOS Y CONTENIDO FOOTER -->
            
        <nav class="footer_elem">
                
            <!-- CATEGORIAS -->
            <div class="elem__links">
                <h3 class="h3-footer">Categorías</h3>
                <ul>
                    <li><a href="/products/category/accesorios">Accesorios</a></li>
                    <li><a href="/products/category/almacenamiento">Almacenamiento</a></li>
                    <li><a href="/products/category/componentes">Componentes</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                    <li><a href="/products/category/consolas">Consolas</a></li>
                    <li><a href="/nosotros/#faq">FaQ</a></li>
                    <li><a href="/nosotros">Nosotros</a></li>
                    <li><a href="/products/category/notebooks">Notebooks</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="/products/category/perifericos">Periféricos</a></li>
                    <li><a href="/products/category/sillas">Sillas Gamer</a></li>
                </ul>
            </div>
                
                <!-- CONTACTO -->
                <div class="elem__links">
                    <h3 class="h3-footer">Contacto</h3>
                    <ul>
                        <li>Av. Saraza 21845 - CABA</li>
                        <li>Horario de atención de 10 a 20hs</li>
                        <li>Teléfono: 4455-6677</li>
                        <li>WhatsApp: +54 9 1122334455</li>
                    </ul>
                </div>
                
            </nav>

        <section class="elem__links">

            <!-- REDES SOCIALES -->
            <section class="links__redes">
                <h3 class="h3-footer">Redes Sociales</h3>

                <div class="redes__buttons">
                    <ul class="buttons__rs">
                        <li class="rs__ig"><a href="https://www.instagram.com/dft.incendio/" aria-label= "instagram"><i class="fab fa-instagram"></i></a></li>
                        <li class="rs__fb"><a href="https://www.facebook.com/g8DFTincendio/" aria-label= "instagram"><i class="fab fa-facebook"></i></a></li>
                        <li class="rs__yt"><a href="#" aria-label= "youtube"><i class="fab fa-youtube"></i></a></li>
                        <li class="rs__tw"><a href="#" aria-label= "twitter"><i class="fab fa-twitter"></i></a></li>
                    </ul>    
                </div>
            </section>
                
            <!-- NEWSLETTER -->
            <article class="links__newsletter">

                <h3 class="h3-footer">Newsletter</h3>
                <form class="newsletter__bar">
                    <input class="newsletter__mail" type="email" placeholder="ejemplo@mail.com" >
                    <button type="submit" aria-label= "newsletter" class="bar__send" >
                        Enviar
                    </button>
                </form>
            </article>

        </section>

    </section>
        
</footer>