<header>
                
    <section class="contenedor-header">                   
            
        <!-- LOGO -->
        <a class="header__logo" href="/">
            <img class="logo__img" src="\img\dft-logo.webp" alt="Logo del fuego techno">
        </a>
           
            
        <!-- BOTONES PRINCIPALES -->
        <nav class="header__menu">    
            <ul class="menu__lista">
                <li class="lista__categorias"><a href="/products">PRODUCTOS ▼</a>
                    <ul class="lista__productos">
                        <li><a href="/products/category/notebooks">Notebooks</a></li>
                        <li><a href="/products/category/perifericos">Periféricos</a></li>
                        <li><a href="/products/category/almacenamiento">Almacenamiento</a></li>
                        <li><a href="/products/category/accesorios">Accesorios</a></li>
                        <li><a href="/products/category/componentes">Componentes</a></li>
                        <li><a href="/products/category/consolas">Consolas</a></li>
                        <li><a href="/products/category/sillas">Sillas Gamer</a></li>
                    </ul>
                </li>
                <li><a href="#">OFERTAS</a></li>
                <li><a href="#">NOSOTROS</a></li>
                <li><a href="/contacto">CONTACTO</a></li>
                <li><a href="/products/admin">ADMIN</a></li>
            </ul>
        </nav>
    
        <!-- SECCIÓN SECUNDARIOS Y BÚSQUEDA -->
        <section class="header__elem">
            <!--  -->
                
            <!-- BOTONES LOGIN Y CARRITO -->
            <section class="elem__sec-buttons">
                <a href="/users/login"class="log-shop" ><i class="fas fa-user-alt"></i><span>LOGIN</span></a>
                <a href="/users/register" class="log-shop"><i class="fas fa-user-plus"></i><span>REGISTRO</span></a>
                <a href="/cart" class="log-shop" ><i class="fas fa-shopping-cart"></i><span>CARRITO</span></a>
                <nav class="burger-menu">
                    <i class="fas fa-bars"></i>
                    <ul class="burger-menu__dropdwn">
                        <li><a href="/products">PRODUCTOS</a></li>
                        <li><a href="/">OFERTAS</a></li>
                        <li><a href="/">NOSOTROS</a></li>
                        <li><a href="/">CONTACTO</a></li>
                        <li><a href="/products/admin">ADMIN</a></li>
                    </ul>
                </nav>
            </section>

                
            <!-- BARRA DE BÚSQUEDA -->
            <section class="elem__area-bar">
                <form action="/products/search" method="GET">
                    <input type="text" name="search" class="area-bar__search" placeholder="Buscar productos..." >
                    <button aria-label= "search" class="mag-glass" type="submit">
                            <i class="fas fa-search"></i>
                    </button>
                </form>
            </section>



        </section>
    </section>
        
        <!-- GUARDA DE COLORES -->
        <div class="guarda">             
        </div>

</header>