<header>
                
    <section class="contenedor-header">                   
            
        <!-- LOGO -->
        <a class="header__logo" href="/">
            <img class="logo__img" src="img/dft-logo.png" alt="Logo del fuego techno">
        </a>
           
            
        <!-- BOTONES PRINCIPALES -->
        <nav class="header__menu">    
            <ul class="menu__lista">
                <li class="lista__categorias"><a href="#">PRODUCTOS ▼</a>
                    <ul class="lista__productos">
                        <li><a href="#">Notebooks</a></li>
                        <li><a href="#">Accesorios</a></li>
                        <li><a href="#">Periféricos</a></li>
                        <li><a href="#">Componentes</a></li>
                        <li><a href="#">Consolas</a></li>
                        <li><a href="#">Sillas Gamer</a></li>
                    </ul>
                </li>
                <li><a href="#">OFERTAS</a></li>
                <li><a href="#">NOSOTROS</a></li>
                <li><a href="#">CONTACTO</a></li>
                <li><a href="/admin">ADMIN</a></li>
            </ul>
        </nav>
    
        <!-- SECCIÓN SECUNDARIOS Y BÚSQUEDA -->
        <section class="header__elem">
                
                
            <!-- BOTONES LOGIN Y CARRITO -->
            <section class="elem__sec-buttons">
                <button type="button" class="log-shop"><a href="/login"><i class="far fa-user-circle"></i>LOGIN</a><a href="/registro"> | REGISTRO</a></button>
                <button type="button" class="log-shop"><a href="/carrito"><i class="fas fa-shopping-cart"></i>CARRITO</a></button>
            </section>
                
            <!-- BARRA DE BÚSQUEDA -->
            <section class="elem__area-bar">
                <form action="" method="">
                    <input type="text" class="area-bar__search" placeholder="Buscar productos..." >
                    <button class="mag-glass" type="submit">
                            <i class="fas fa-search"></i>
                    </button>
                </form>
            </section>

            <!-- <section class="elem__burger">
                <nav class="burger__menu">
                    <i class="fas fa-bars"></i>
                </nav>
            </section> -->

        </section>
    </section>
        
        <!-- GUARDA DE COLORES -->
        <div class="guarda">             
        </div>

</header>