            <div class="navigation__menu">
                <div class="menu__options">
                    <a href="/products/admin" class="menu__items">PANEL DE CONTROL</a>
                    <a href="/products/admin/create" class="menu__items">CARGA DE PRODUCTOS</a>
                    <a href="/users/list" class="menu__items">USUARIOS REGISTRADOS</a>
                    <a href="/products/admin" class="menu__items">VENTAS</a>
                    <a href="/products/admin" class="menu__items">MENSAJES</a>

                </div>

                <div class="navigation__dropdwn"><a href="#">PANEL DE CONTROL ▼</a>
                    <ul class="dropdwn__menu">
                        <li><a href="/products/admin">Todos los productos</a></li>
                        <li><a href="/products/admin/create">Carga de productos</a></li>
                        <li><a href="/users/list">Usuarios registrados</a></li>
                        <li><a href="/products/admin/sales">Ventas</a></li>
                        <li><a href="/products/admin/inbox">Mensajes</a></li>

                    </ul>
                </div>

            </div>
