            <div class="admin__nav">
                <div class="nav__admin-menu">
                    <a href="/products/admin" class="menu__items">PANEL DE CONTROL</a>
                    <a href="/products/admin/create" class="menu__items">CARGA DE PRODUCTOS</a>
                    <a href="/products/admin" class="menu__items">VENTAS</a>
                    <a href="/products/admin" class="menu__items">MENSAJES</a>

                </div>
            </div>

            <!-- <li class="menu__items"><a href="/products/admin/create">CARGA DE PRODUCTOS</a></li>
            <li class="menu__items"><a href="#">VENTAS</a></li>
            <li class="menu__items"><a href="#">MENSAJES</a></li> -->