<div class="nav-prodList">
    <div class="prodList__menu">
        <a href="/products" class="menu__items">TODOS LOS PRODUCTOS</a>
        <a href="/products/category/notebooks" class="menu__items">NOTEBOOKS</a>
        <a href="/products/category/perifericos" class="menu__items">PERIFÉRICOS</a>
        <a href="/products/category/almacenamiento" class="menu__items">ALMACENAMIENTO</a>
        <a href="/products/category/accesorios" class="menu__items">ACCESORIOS</a>
        <a href="/products/category/componentes"class="menu__items">COMPONENTES</a>
        <a href="/products/category/consolas"class="menu__items">CONSOLAS</a>
        <a href="/products/category/sillas" class="menu__items">SILLAS GAMER</a>
    </div>

    <div class="prodList__dropdwn"><a href="#">CATEGORIAS ▼</a>
        <ul class="dropdwn__categories">
            <li><a href="/products">Todos los productos</a></li>
            <li><a href="/products/category/notebooks">Notebooks</a></li>
            <li><a href="/products/category/perifericos">Periféricos</a></li>
            <li><a href="/products/category/almacenamiento">Almacenamiento</a></li>
            <li><a href="/products/category/componentes">Componentes</a></li>
            <li><a href="/products/category/consolas">Consolas</a></li>
            <li><a href="/products/category/sillas">Sillas Gamer</a></li>
        </ul>
    </div>
</div>