<div class="nav-prodList">
    <ul class="prodList__menu">
        <li class="menu__items"><a href="/products">TODOS LOS PRODUCTOS</a></li>
        <li class="menu__items"><a href="/products/category/notebooks">NOTEBOOKS</a></li>
        <li class="menu__items"><a href="/products/category/perifericos">PERIFÉRICOS</a></li>
        <li class="menu__items"><a href="/products/category/almacenamiento">ALMACENAMIENTO</a></li>
        <li class="menu__items"><a href="/products/category/accesorios">ACCESORIOS</a></li>
        <li class="menu__items"><a href="/products/category/componentes">COMPONENTES</a></li>
        <li class="menu__items"><a href="/products/category/consolas">CONSOLAS</a></li>
        <li class="menu__items"><a href="/products/category/sillas">SILLAS GAMER</a></li>
    </ul>

    <ul class="prodList__dropdwn"><a href="#">CATEGORIAS ▼</a>
        <ul class="dropdwn__categories">
            <li><a href="/products">Todos los productos</a></li>
            <li><a href="/products/category/notebooks">Notebooks</a></li>
            <li><a href="/products/category/perifericos">Periféricos</a></li>
            <li><a href="/products/category/almacenamiento">Almacenamiento</a></li>
            <li><a href="/products/category/componentes">Componentes</a></li>
            <li><a href="/products/category/consolas">Consolas</a></li>
            <li><a href="/products/category/sillas">Sillas Gamer</a></li>
        </ul>
    </ul>
</div>