<article class="prodDisplay__cont">
    <a class="cont-dest__link" href="/producto/detalle ">
        <article class="cont-dest__img">
            <img src="/img/products/<%= notebook.image %>.webp" class="img__producto" alt="<%= notebook.name %>">
            <hr class = "descripcion__divis">
        </article>
        <article class="cont__dispDesc">
            <h3 class="dispDesc__nombre"><%= notebook.name %></h3>
            <h4 class="dispDesc__precio"><%= notebook.price %></h4>
        </article>
        <button type="button" class="dispDesc__btn"><a href="/carrito"></a>Comprar ahora</button>
    </a>
</article>