<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">  <!-- hoja de estilos -->


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet"> <!-- fonts -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet"/> <!-- iconos -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- iconos -->
    <script src="https://kit.fontawesome.com/fe4ebeaca1.js" crossorigin="anonymous"></script>

    <title>DelFuegoTechno - Carrito</title>

</head>
<body>

    <header>
                
        <section class="contenedor-header">                   
                
            <!-- LOGO -->
            <a class="header__logo" href="/">
                <img class="logo__img" src="img/dft-logo.png" alt="Logo del fuego techno">
            </a>
               
                
            <!-- BOTONES PRINCIPALES -->
            <nav class="header__menu">    
                <ul class="menu__lista">
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        
            <!-- SECCIÓN SECUNDARIOS Y BÚSQUEDA -->
            <section class="header__elem">
                    
                    
                <!-- BOTONES LOGIN Y CARRITO -->
                <section class="elem__sec-buttons">
                    <button type="button" class="log-shop"><a href="/login"><i class="far fa-user-circle"></i>LOGIN</a></button>
                    <button type="button" class="log-shop"><a href="/carrito"><i class="fas fa-shopping-cart"></i>CARRITO</a></button>
                </section>
                    
                <!-- BARRA DE BÚSQUEDA -->
                <section class="elem__area-bar">
                    <form action="" method="">
                        <input type="text" class="area-bar__search" placeholder="Buscar productos..." >
                        <button class="mag-glass" type="submit">
                                <i class="fas fa-search"></i>
                        </button>
                    </form>
                </section>

                <!-- <section class="elem__burger">
                    <nav class="burger__menu">
                        <i class="fas fa-bars"></i>
                    </nav>
                </section> -->

            </section>
            
            <!-- GUARDA DE COLORES -->
            <div class="guarda">             
            </div>

    </header>

    <main class="carrito">
        <!-- carrito -->
        <!-- Seccion superior del carrito -->
        <!-- <span class="hiddenSpan">hidden</span> -->
        <section class="top-section">
            <!-- Contenedor de productos para la compra -->
            <article class="leftArticle">

                
                <div class="leftArticle-breadCrum">                    
                    <a class="breadCrum" href="">Home</a><span>/</span><a class="breadCrum" href="">Carrito</a><span>/</span>                    
                </div>

                <h2 class="carrito-title"><i class="fa-solid fa-cart-shopping"></i>  Mi Carrito</h2>

                <div class="caja">
                    <div class="caja-producto">
                        <div class="caja-producto-izquierda">
                            <img class="img-producto" src="/img/kolink-inspire-k20-004.jpg" alt="Foto de kolink inspire k20">
                        </div>

                        <div class="caja-producto-derecha">
                            <div class="caja-producto-derecha-top">
                                <div class="caja-descripcion-producto">
                                    <a class="linkToProduct" href="">Gabinete Kolink Inspire K20</a>
                                </div>
                                <div class="caja-trashCan">
                                    <i class="fa-solid fa-trash-can"></i>
                                </div>                              
                            </div>
                            <div class="caja-producto-derecha-bottom">
                                <div class="counter">
                                    <i class="fa-solid fa-circle-plus"></i>
                                    <input id="count" class="count-form" name="count" type="number" value="1">
                                    <i class="fa-solid fa-circle-minus"></i>
                                </div>
                                <div class="caja-price">$6500</div>                                
                            </div>
                        </div>
                    </div>

                    <div class="caja-producto">
                        <div class="caja-producto-izquierda">
                            <img class="img-producto" src="/img/msi-i7-rtx2070-001.jpg" alt="Foto de kolink inspire k20">
                        </div>

                        <div class="caja-producto-derecha">
                            <div class="caja-producto-derecha-top">
                                <div class="caja-descripcion-producto">
                                    <a class="linkToProduct" href="">Notebook Gamer Msi i7 Rtx2070 16gb</a>
                                </div>
                                <div class="caja-trashCan">
                                    <i class="fa-solid fa-trash-can"></i>
                                </div>                              
                            </div>
                            <div class="caja-producto-derecha-bottom">
                                <div class="counter">
                                    <i class="fa-solid fa-circle-plus"></i>
                                    <input id="count" class="count-form" name="count" type="number" value="1">
                                    <i class="fa-solid fa-circle-minus"></i>
                                </div>
                                <div class="caja-price">$329.990</div>                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="leftArticle-btns">

                    <button class="leftArticle-btn">Vaciar Carrito</button>

                    <a class="seguirComprando" href="">Seguir Comprando</a>

                </div>


            </article>

            <!-- contenedor de resumen de la compra -->
            <article class="rightArticle">

                <h2 class="rightArticle-resumenDeOrden">Resumen De La Orden</h2>

                <hr class="solid">

                <div class="rightArticle-div">

                    <p>Subtotal:</p>

                    <p>$336.490</p>

                </div>

                <div class="rightArticle-div">

                    <p>Costo del envio:</p>

                    <p>$400</p>

                </div>

                <hr class="solid">

                <div class="rightArticle-div-total">

                    <p class="totalP">Total:</p>

                    <p class="totalPrice">$336.890</p>

                </div>

                <hr class="solid">

                <div class="rightArticle-div-finalizar">

                <button class="rightArticle-button">Finalizar Compra</button>

                </div>

            </article>
        </section>

        <!-- Seccion inferior del carrito -->
        <section class="main-home__cont-prod">

            <h2 class="cont-prod__categorias">Destacados</h2>

            <nav class="cont-prod__articulos">

                <article class="cont-dest">
                    <a class="cont-dest__link" href="/detalleDeProducto">
                        <article class="cont-dest__img">
                            <img src="/img/asus-zephyrus-duo_15-GX550LXS-001.jpg" class="img__producto" alt="Asus Rog Zephyrus Duo">
                        </article>
                        <article class="cont-dest__descripcion">
                            <h3 class="descripcion__nombre-prod">Asus Rog Zephyrus Duo Ryzen 9 16Gb 1Tb Rtx 3060</h3>
                            <h4 class="descripcion__precio">$580.000</h4>
                        </article>
                        <a href="/carrito" class="cont-dest__carrito"><i class="material-icons">add_shopping_cart</i></a>
                        <button class="cont-dest__fav" type="submit"><i class="fas fa-heart"></i></button>                    
                    </a>
                </article>
                
                <article class="cont-dest">
                    <a class="cont-dest__link" href="/detalleDeProducto">
                        <article class="cont-dest__img">
                            <img src="/img/placa-video-radeon-rx_41411_1.jpeg" class="img__producto" alt="Acer Nitro i5">
                        </article>
                        <article class="cont-dest__descripcion">
                            <h3 class="descripcion__nombre-prod">Placa De Video Msi Gaming Radeon Rx 6800 X Trio 16G</h3>
                            <h4 class="descripcion__precio">$289.900</h4>
                        </article>
                        <a href="/carrito" class="cont-dest__carrito"><i class="material-icons">add_shopping_cart</i></a>
                        <button class="cont-dest__fav" type="submit"><i class="far fa-heart"></i></button>                  
                    </a>
                </article>

                <article class="cont-dest">
                    <a class="cont-dest__link" href="/detalleDeProducto">
                        <article class="cont-dest__img">
                            <img src="/img/kolink-inspire-k20-001.jpg" class="img__producto" alt="Acer Nitro i5">
                        </article>
                        <article class="cont-dest__descripcion">
                            <h3 class="descripcion__nombre-prod">Gabinete Kolink Inspire K20</h3>
                            <h4 class="descripcion__precio">$6.700</h4>
                        </article>
                        <a href="/carrito" class="cont-dest__carrito"><i class="material-icons">add_shopping_cart</i></a>
                        <button class="cont-dest__fav" type="submit"><i class="far fa-heart"></i></button>                     
                    </a>                
                </article>
                
                <article class="cont-dest">
                    <a class="cont-dest__link" href="/detalleDeProducto">
                        <article class="cont-dest__img">
                            <img src="/img/steelseries-rival650-001.jpg" class="img__producto" alt="Acer Nitro i5">
                        </article>
                        <article class="cont-dest__descripcion">
                            <h3 class="descripcion__nombre-prod">Mouse Steelseries Rival 650 Quantum</h3>
                            <h4 class="descripcion__precio">$37.570</h4>
                        </article>
                        <a href="/carrito" class="cont-dest__carrito"><i class="material-icons">add_shopping_cart</i></a>
                        <button class="cont-dest__fav" type="submit"><i class="far fa-heart"></i></button>               
                    </a>                
                </article>
                
            </nav>

        </section>

    </main>

    <footer>
         
        <section class="contenedor-footer">
               
            <!-- LOGO FOOTER -->
            
            <a class="footer__logo" href="/">
                <img class = "logo__ft-img" src="img/dft-logo.png" alt="Logo del fuego techno">
            </a>
            
    
    
            <!-- SUBTÍTULOS Y CONTENIDO FOOTER -->
                
            <section class="footer_elem">
                    
                <!-- CATEGORIAS -->
                <nav class="elem__links">
                    <h3 class="h3-footer">Categorías</h3>
                    <ul>
                        <li><a href="#">Accesorios</a></li>
                        <li><a href="#">Componentes</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">FaQ</a></li>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Notebooks</a></li>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">PC Armadas</a></li>
                        <li><a href="#">Periféricos</a></li>
                        <li><a href="#">Sillas Gamer</a></li>
                    </ul>
                </nav>
                    
                    <!-- CONTACTO -->
                    <nav class="elem__links">
                        <h3 class="h3-footer">Contacto</h3>
                        <ul>
                            <li>Av. Saraza 21845 - CABA</li>
                            <li>Horario de atención de 10hs a 20hs</li>
                            <li>Teléfono: 4455-6677</li>
                            <li>WhatsApp: +54 9 1122334455</li>
                        </ul>
                    </nav>
                    
                </section>
    
            <section class="elem__links">

                <!-- REDES SOCIALES -->
                <section class="links__redes">
                    <h3 class="h3-footer">Redes Sociales</h3>

                    <nav class="redes__buttons">
                        <ul class="buttons__rs">
                            <li class="rs__ig"><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li class="rs__fb"><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li class="rs__yt"><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li class="rs__tw"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>    
                    </nav>
                </section>
                    
                <!-- NEWSLETTER -->
                <article class="links__newsletter">

                    <h3 class="h3-footer">Newsletter</h3>
                    <form class="newsletter__bar">
                        <input class="newsletter__mail" type="email" placeholder="ejemplo@mail.com" >
                        <button class="bar__send" type="submit">
                            Enviar
                        </button>
                    </form>
                </article>
    
            </section>
    
        </section>
            
    </footer>
    
</body>
</html>