<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">  <!-- hoja de estilos -->


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet"> <!-- fonts -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet"/> <!-- iconos -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- iconos -->

    <title>DelFuegoTechno - Detalle de producto</title>

</head>
<body>
    
    <header>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- iconos -->
                
        <section class="contenedor-header">                   
                
            <!-- LOGO -->
            <a class="header__logo" href="/">
                <img class="logo__img" src="img/dft-logo.png" alt="Logo del fuego techno">
            </a>
               
                
            <!-- BOTONES PRINCIPALES -->
            <nav class="header__menu">    
                <ul class="menu__lista">
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        
            <!-- SECCIÓN SECUNDARIOS Y BÚSQUEDA -->
            <section class="header__elem">
                    
                    
                <!-- BOTONES LOGIN Y CARRITO -->
                <section class="elem__sec-buttons">
                    <button type="button" class="log-shop"><a href="/login"><i class="far fa-user-circle"></i>LOGIN</a></button>
                    <button type="button" class="log-shop"><a href="/carrito"><i class="fas fa-shopping-cart"></i>CARRITO</a></button>
                </section>
                    
                <!-- BARRA DE BÚSQUEDA -->
                <section class="elem__area-bar">
                    <form action="" method="">
                        <input type="text" class="area-bar__search" placeholder="Buscar productos..." >
                        <button class="mag-glass" type="submit">
                                <i class="fas fa-search"></i>
                        </button>
                    </form>
                </section>

                <!-- <section class="elem__burger">
                    <nav class="burger__menu">
                        <i class="fas fa-bars"></i>
                    </nav>
                </section> -->

            </section>
            
            <!-- GUARDA DE COLORES -->
            <div class="guarda">             
            </div>

    </header>

    <main class="detalleDeProducto">

         <!-- Contenedor de imagen del producto -->

         <div class="cont-det-producto">
             <section class="cont-img-prod">
                <h5 class="migas">migas de pan</h5>

                <div class="prod__img">
                    <img class="img__ppal" src="\img\steelseries-rival650-001.jpg" alt="Imagen mouse">
                </div>

                <nav class="prod__alt">
                    <div class="alt__img">
                    <img class="img__fotito" src="/img/steelseries-rival650-002.jpeg" alt="Imagen alternativa 1">
                </div>
                <div class="alt__img">
                    <img class="img__fotito" src="\img\steelseries-rival650-003.jpg" alt="Imagen alternativa 2">
                </div>
                    <div class="alt__img">
                    <img class="img__fotito" src="\img\steelseries-rival650-004.jpg" alt="Imagen alternativa 3">
                </div>
                </nav>
         
                <!-- contenedor de Descripcion del producto -->
                <div class="cont_des_prod">
                    <section class="cont-img-prod">
                       <h1 class="titulo_prod">Mouse SteelSeries Rival 650 Wireless</h1>
                
                        <nav class="desc_prod">
                            <div class="precio_prod">
                                <h4>$25000</h4>
                                 </div>
                        <div class="iconos_prod">
                             <button class="cont-dest__fav" type="submit"><i class="fas fa-heart"></i></button>  
                             <button class="cont-dest__carrito" type="submit"><i class="fa-shopping-cart"></i></button>
                             <button class="cont-dest__fav" type="submit"><i class="fad fa-share"></i></button> 
                        </div>
                            <div class="Comprar_prod">
                            <button class="rightArticle-button">Comprar</button>
                        </div>
                        <div class="desc_prod_tex">
                        
                            <h3 class="subtitulo_prod">Descripción</h3>
                
                            <p>Mouse SteelSeries Rival 650 Wireless Rendimiento sin retrasos de Quantum Wireless. 
                                Duración de la batería de más de 24 horas con carga rápida. Sensor óptico exclusivo TrueMove3 + 12.000 CPI, 
                                350 IPS. La distancia de despegue más baja y precisa del mundo. 256 configuraciones de ajuste de peso del centro de gravedad. 
                                Interruptores mecánicos de disparador dividido de 60 millones de clics. Agarres laterales de silicona para mayor agarre y 
                                durabilidad. Iluminación RGB de 8 zonas con notificaciones Discord. Guarde la configuración del sensor, las macros y los
                                efectos de iluminación a bordo. Personalización total con SteelSeries Engine</p>
                        </div>
                
                        <div class="carac_tec">
                        <h3 class="subtitulo_prod">Características técnicas</h3>
                        <p>Sensor óptico exclusivo TrueMove3 + 12.000 CPI, 350 IPS
                                Características	Interruptores mecánicos de disparador dividido de 60 millones de clics
                                Agarres laterales de silicona para mayor agarre y durabilidad. 
                                Iluminación RGB de 8 zonas con notificaciones Discord 
                                Personalización total con SteelSeries. Duración de la batería de más de 24 horas con carga rápida</p>
                    
                        </div>        
                       </nav>
                    </div>
                    </section>
               
                    
        
                  <!-- Contenedor de imagenes abajo producto -->  

                  
                    
        
                  
                    <!-- ACÁ VA EL CARRUSEL CON COSO DE INTERESAR -->
                    <!--  <div><h4>Te puede interesar:</h4>
        
        
            
                   </div>-->
        
       
  
    </main>

    <footer>
         
        <section class="contenedor-footer">
               
            <!-- LOGO FOOTER -->
            
            <a class="footer__logo" href="/">
                <img class = "logo__ft-img" src="img/dft-logo.png" alt="Logo del fuego techno">
            </a>
            
    
    
            <!-- SUBTÍTULOS Y CONTENIDO FOOTER -->
                
            <section class="footer_elem">
                    
                <!-- CATEGORIAS -->
                <nav class="elem__links">
                    <h3 class="h3-footer">Categorías</h3>
                    <ul>
                        <li><a href="#">Accesorios</a></li>
                        <li><a href="#">Componentes</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">FaQ</a></li>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Notebooks</a></li>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">PC Armadas</a></li>
                        <li><a href="#">Periféricos</a></li>
                        <li><a href="#">Sillas Gamer</a></li>
                    </ul>
                </nav>
                    
                    <!-- CONTACTO -->
                    <nav class="elem__links">
                        <h3 class="h3-footer">Contacto</h3>
                        <ul>
                            <li>Av. Saraza 21845 - CABA</li>
                            <li>Horario de atención de 10hs a 20hs</li>
                            <li>Teléfono: 4455-6677</li>
                            <li>WhatsApp: +54 9 1122334455</li>
                        </ul>
                    </nav>
                    
                </section>
    
            <section class="elem__links">

                <!-- REDES SOCIALES -->
                <section class="links__redes">
                    <h3 class="h3-footer">Redes Sociales</h3>

                    <nav class="redes__buttons">
                        <ul class="buttons__rs">
                            <li class="rs__ig"><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li class="rs__fb"><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li class="rs__yt"><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li class="rs__tw"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>    
                    </nav>
                </section>
                    
                <!-- NEWSLETTER -->
                <article class="links__newsletter">

                    <h3 class="h3-footer">Newsletter</h3>
                    <form class="newsletter__bar">
                        <input class="newsletter__mail" type="email" placeholder="ejemplo@mail.com" >
                        <button class="bar__send" type="submit">
                            Enviar
                        </button>
                    </form>
                </article>
    
            </section>
    
        </section>
            
    </footer>
    
</body>
</html>


