<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">  <!-- hoja de estilos -->


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet"> <!-- fonts -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet"/> <!-- iconos -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- iconos -->

    <title>DelFuegoTechno</title>

</head>
<body>

    <header>
                
        <section class="contenedor-header">                   
                
            <!-- LOGO -->
            <a class="header__logo" href="/">
                <img class="logo__img" src="img/dft-logo.png" alt="Logo del fuego techno">
            </a>
               
                
            <!-- BOTONES PRINCIPALES -->
            <nav class="header__menu">    
                <ul class="menu__lista">
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        
            <!-- SECCIÓN SECUNDARIOS Y BÚSQUEDA -->
            <section class="header__elem">
                    
                    
                <!-- BOTONES LOGIN Y CARRITO -->
                <section class="elem__sec-buttons">
                    <button type="button" class="log-shop"><a href="/login"><i class="far fa-user-circle"></i>LOGIN</a></button>
                    <button type="button" class="log-shop"><a href="/carrito"><i class="fas fa-shopping-cart"></i>CARRITO</a></button>
                </section>
                    
                <!-- BARRA DE BÚSQUEDA -->
                <section class="elem__area-bar">
                    <form action="" method="">
                        <input type="text" class="area-bar__search" placeholder="Buscar productos..." >
                        <button class="mag-glass" type="submit">
                                <i class="fas fa-search"></i>
                        </button>
                    </form>
                </section>

                <!-- <section class="elem__burger">
                    <nav class="burger__menu">
                        <i class="fas fa-bars"></i>
                    </nav>
                </section> -->

            </section>
            
            <!-- GUARDA DE COLORES -->
            <div class="guarda">             
            </div>

    </header>
    
    <main class="main-home">

        <!-- CARRUSEL PRINCIPAL -->
        <div class="ss-home-ppal">
            <img class="ss-home-ppal__img" src="/img/destacado-alienware-streamsetup.jpg" alt="Carrusel imagen 1">
        </div>


        <!-- BOTONES NAVEGACIÓN MAIN HOME -->
        
        <section class="main-home__sect-cont">

            <h4 class="sect-cont__titulo">BUSCÁ POR CATEGORÍAS</h4>
            
            <nav class="nav-cont">
                <div class="nav-cont__buttons">
                    <button class="buttons__round">
                        <a href="#"><i class="fas fa-laptop"></i></a>
                    </button>
                    <button class="buttons__links">
                        <a href="#">NOTEBOOKS</a>
                    </button>
                </div>

                <div class="nav-cont__buttons">
                    <button class="buttons__round">
                        <a href="#"><i class="fas fa-keyboard"></i></a>
                    </button>
                    <button class="buttons__links">
                        <a href="#">ACCESORIOS</a>
                    </button>
                </div>

                <div class="nav-cont__buttons">
                    <button class="buttons__round">
                        <a href="#"><i class="fas fa-headset"></i></a>
                    </button>
                    <button class="buttons__links">
                        <a href="#">PERIFÉRICOS</a>
                    </button>
                </div>

                <div class="nav-cont__buttons">
                    <button class="buttons__round">
                        <a href="#"><i class="fas fa-gamepad"></i></a>
                    </button>
                    <button class="buttons__links">
                        <a href="#">CONSOLAS</a>
                    </button>
                </div>

                <div class="nav-cont__buttons">
                    <button class="buttons__round">
                        <a href="#"><i class="fas fa-microchip"></i></a>
                    </button>
                    <button class="buttons__links">
                        <a href="#">COMPONENTES</a>
                    </button>
                </div>
            </nav>
            
        </section>


        <!-- CARRUSEL DESTACADOS 1 -->

        <section class="main-home__cont-prod">

            <h2 class="cont-prod__categorias">Destacados</h2>

            <nav class="cont-prod__articulos">

                <article class="cont-dest">
                    <a href="#">
                        <article class="cont-dest__img">
                            <img src="/img/asus-zephyrus-duo_15-GX550LXS-001.jpg" class="img__producto" alt="Asus Rog Zephyrus Duo">
                        </article>
                        <article class="cont-dest__descripcion">
                            <h3 class="descripcion__nombre-prod">Asus Rog Zephyrus Duo Ryzen 9 16Gb 1Tb Rtx 3060</h3>
                            <h4 class="descripcion__precio">$580.000</h4>
                        </article>
                        <button class="cont-dest__carrito" type="submit"><i class="material-icons">add_shopping_cart</i></button>
                        <button class="cont-dest__fav" type="submit"><i class="fas fa-heart"></i></button>                    
                    </a>
                </article>
                
                <article class="cont-dest">
                    <a href="#">
                        <article class="cont-dest__img">
                            <img src="/img/placa-video-radeon-rx_41411_1.jpeg" class="img__producto" alt="Acer Nitro i5">
                        </article>
                        <article class="cont-dest__descripcion">
                            <h3 class="descripcion__nombre-prod">Placa De Video Msi Gaming Radeon Rx 6800 X Trio 16G</h3>
                            <h4 class="descripcion__precio">$289.900</h4>
                        </article>
                        <button class="cont-dest__carrito" type="submit"><i class="material-icons">add_shopping_cart</i></button>
                        <button class="cont-dest__fav" type="submit"><i class="far fa-heart"></i></button>                  
                    </a>
                </article>

                <article class="cont-dest">
                    <a href="#">
                        <article class="cont-dest__img">
                            <img src="/img/kolink-inspire-k20-001.jpg" class="img__producto" alt="Acer Nitro i5">
                        </article>
                        <article class="cont-dest__descripcion">
                            <h3 class="descripcion__nombre-prod">Gabinete Kolink Inspire K20</h3>
                            <h4 class="descripcion__precio">$6.700</h4>
                        </article>
                        <button class="cont-dest__carrito" type="submit"><i class="material-icons">add_shopping_cart</i></button>
                        <button class="cont-dest__fav" type="submit"><i class="far fa-heart"></i></button>                     
                    </a>                
                </article>
                
                <article class="cont-dest">
                    <a href="#">
                        <article class="cont-dest__img">
                            <img src="/img/steelseries-rival650-001.jpg" class="img__producto" alt="Acer Nitro i5">
                        </article>
                        <article class="cont-dest__descripcion">
                            <h3 class="descripcion__nombre-prod">Mouse Steelseries Rival 650 Quantum</h3>
                            <h4 class="descripcion__precio">$37.570</h4>
                        </article>
                        <button class="cont-dest__carrito" type="submit"><i class="material-icons">add_shopping_cart</i></button>
                        <button class="cont-dest__fav" type="submit"><i class="far fa-heart"></i></button>               
                    </a>                
                </article>
                
                <!-- <article class="cont-dest">
                    <a href="">
                        <article class="cont-dest__img">
                            <img src="/img/razer-blackwidow-mini-v3-001.jpg" class="img__producto" alt="Acer Nitro i5">
                        </article>
                        <article class="cont-dest__descripcion">
                            <h3 class="descripcion__nombre-prod">Teclado Razer BLACKWIDOW V3 Mini Hyper Speed</h3>
                            <h4 class="descripcion__precio">$22.700</h4>
                        </article>
                        <button class="cont-dest__carrito" type="submit"><i class="material-icons">add_shopping_cart</i></button>
                        <button class="cont-dest__fav" type="submit"><i class="far fa-heart"></i></button>                  
                    </a>
                </article> -->
            </nav>

        </section>

        <!-- IMAGEN PRODUCTO DESTACADO -->

        <div class="home-dest-central">
            <img class="home-dest-central__img" src="/img/destacado-asus-rog-zephyrus-s17.jpg" alt="Imagen producto destacado">
        </div>



        <!-- CARRUSEL DESTACADOS 2 -->

        <section class="main-home__cont-prod">

            <h2 class="cont-prod__categorias">Notebooks</h2>

            <nav class="cont-prod__articulos">

                <article class="cont-dest">
                    <a href="#">
                        <article class="cont-dest__img">
                            <img src="/img/asus-zephyrus-duo_15-GX550LXS-001.jpg" class="img__producto" alt="Asus Rog Zephyrus Duo">
                        </article>
                        <article class="cont-dest__descripcion">
                            <h3 class="descripcion__nombre-prod">Asus Rog Zephyrus Duo Ryzen 9 16Gb 1Tb Rtx 3060</h3>
                            <h4 class="descripcion__precio">$580.000</h4>
                        </article>
                        <button class="cont-dest__carrito" type="submit"><i class="material-icons">add_shopping_cart</i></button>
                        <button class="cont-dest__fav" type="submit"><i class="fas fa-heart"></i></button>                    
                    </a>
                </article>
                
                <article class="cont-dest">
                    <a href="#">
                        <article class="cont-dest__img">
                            <img src="/img/hp-omen-1020-001.jpg" class="img__producto" alt="HP omen 1020">
                        </article>
                        <article class="cont-dest__descripcion">
                            <h3 class="descripcion__nombre-prod">Notebook Gamer HP OMEN 15-DC1020NR/h3>
                            <h4 class="descripcion__precio">$335.000</h4>
                        </article>
                        <button class="cont-dest__carrito" type="submit"><i class="material-icons">add_shopping_cart</i></button>
                        <button class="cont-dest__fav" type="submit"><i class="far fa-heart"></i></button>                  
                    </a>
                </article>

                <article class="cont-dest">
                    <a href="#">
                        <article class="cont-dest__img">
                            <img src="/img/acer-nitro-i5-001.jpg" class="img__producto" alt="Acer Nitro i5">
                        </article>
                        <article class="cont-dest__descripcion">
                            <h3 class="descripcion__nombre-prod">Notebook Gamer Acer Nitro I5 10Ma 8Gb Ssd256 Gtx1650</h3>
                            <h4 class="descripcion__precio">$144.000</h4>
                        </article>
                        <button class="cont-dest__carrito" type="submit"><i class="material-icons">add_shopping_cart</i></button>
                        <button class="cont-dest__fav" type="submit"><i class="far fa-heart"></i></button>                     
                    </a>                
                </article>
                
                <article class="cont-dest">
                    <a href="#">
                        <article class="cont-dest__img">
                            <img src="/img/alienware17r5-001.jpg" class="img__producto" alt="Alienware 17 R5 17.3' ">
                        </article>
                        <article class="cont-dest__descripcion">
                            <h3 class="descripcion__nombre-prod">Notebook Gamer Dell Alienware 17 R5 17.3'</h3>
                            <h4 class="descripcion__precio">$508.890</h4>
                        </article>
                        <button class="cont-dest__carrito" type="submit"><i class="material-icons">add_shopping_cart</i></button>
                        <button class="cont-dest__fav" type="submit"><i class="far fa-heart"></i></button>               
                    </a>                
                </article>
                
                <!--Dani pidio sacar un articulo -->
                <!-- <article class="cont-dest">
                    <a href="">
                        <article class="cont-dest__img">
                            <img src="/img/msi-i7-rtx2070-001.jpg" class="img__producto" alt="Msi I7 Rtx2070 16Gb">
                        </article>
                        <article class="cont-dest__descripcion">
                            <h3 class="descripcion__nombre-prod">Notebook Gamer Msi I7 Rtx2070 16Gb</h3>
                            <h4 class="descripcion__precio">$329.900</h4>
                        </article>
                        <button class="cont-dest__carrito" type="submit"><i class="material-icons">add_shopping_cart</i></button>
                        <button class="cont-dest__fav" type="submit"><i class="far fa-heart"></i></button>                  
                    </a>
                </article> -->
            </nav>

        </section>


        <section class="main-home__banner-marcas">
            <h4 class="banner-marcas__titulo">ENCONTRÁ TUS MARCAS PREFERIDAS</h4>
            <nav class="banner-marcas__logos">
                <a href="#" class="logos__link"><img src="/img/logitech-logo.png" alt="Logitech" class="link__img"></a>
                <a href="#" class="logos__link"><img src="/img/hp-logo.png" alt="HP" class="link__img"></a>
                <a href="#" class="logos__link"><img src="/img/amd-logo.png" alt="AMD" class="link__img"></a>
                <a href="#" class="logos__link"><img src="/img/msi-logo.png" alt="MSI" class="link__img"></a>
                <a href="#" class="logos__link"><img src="/img/asus-logo.png" alt="ASUS" class="link__img"></a>
                <a href="#" class="logos__link"><img src="/img/evga-logo.png" alt="EVGA" class="link__img"></a>
                <a href="#" class="logos__link"><img src="/img/intel-logo.png" alt="INTEL" class="link__img"></a>
                <a href="#" class="logos__link"><img src="/img/razer-logo.png" alt="Razer" class="link__img"></a>
                <a href="#" class="logos__link"><img src="/img/nvidia-logo.png" alt="N-vidia" class="link__img"></a>
                <a href="#" class="logos__link"><img src="/img/corsair-logo.png" alt="Corsair" class="link__img"></a>
                <a href="#" class="logos__link"><img src="/img/gigabyte-logo.png" alt="Gigabyte" class="link__img"></a>
            </nav>
        </section>


    </main>
    
    <footer>
         
        <section class="contenedor-footer">
               
            <!-- LOGO FOOTER -->
            
            <a class="footer__logo" href="/">
                <img class = "logo__ft-img" src="img/dft-logo.png" alt="Logo del fuego techno">
            </a>
            
    
    
            <!-- SUBTÍTULOS Y CONTENIDO FOOTER -->
                
            <section class="footer_elem">
                    
                <!-- CATEGORIAS -->
                <nav class="elem__links">
                    <h3 class="h3-footer">Categorías</h3>
                    <ul>
                        <li><a href="#">Accesorios</a></li>
                        <li><a href="#">Componentes</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">FaQ</a></li>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Notebooks</a></li>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">PC Armadas</a></li>
                        <li><a href="#">Periféricos</a></li>
                        <li><a href="#">Sillas Gamer</a></li>
                    </ul>
                </nav>
                    
                    <!-- CONTACTO -->
                    <nav class="elem__links">
                        <h3 class="h3-footer">Contacto</h3>
                        <ul>
                            <li>Av. Saraza 21845 - CABA</li>
                            <li>Horario de atención de 10hs a 20hs</li>
                            <li>Teléfono: 4455-6677</li>
                            <li>WhatsApp: +54 9 1122334455</li>
                        </ul>
                    </nav>
                    
                </section>
    
            <section class="elem__links">

                <!-- REDES SOCIALES -->
                <section class="links__redes">
                    <h3 class="h3-footer">Redes Sociales</h3>

                    <nav class="redes__buttons">
                        <ul class="buttons__rs">
                            <li class="rs__ig"><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li class="rs__fb"><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li class="rs__yt"><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li class="rs__tw"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>    
                    </nav>
                </section>
                    
                <!-- NEWSLETTER -->
                <article class="links__newsletter">

                    <h3 class="h3-footer">Newsletter</h3>
                    <form class="newsletter__bar">
                        <input class="newsletter__mail" type="email" placeholder="ejemplo@mail.com" >
                        <button class="bar__send" type="submit">
                            Enviar
                        </button>
                    </form>
                </article>
    
            </section>
    
        </section>
            
    </footer>

</body>
</html>