<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">  <!-- hoja de estilos -->


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet"> <!-- fonts -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet"/> <!-- iconos -->

    <title>DelFuegoTechno - Inicio</title>

</head>
<body>

    <header>
                
        <section class="contenedor-header">                   
                
            <!-- LOGO -->
            <a class="header__logo" href="/">
                <img class="logo__img" src="img/dft-logo.png" alt="Logo del fuego techno">
            </a>
               
                
            <!-- BOTONES PRINCIPALES -->
            <nav class="header__menu">    
                <ul class="menu__lista">
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        
            <!-- SECCIÓN SECUNDARIOS Y BÚSQUEDA -->
            <section class="header__elem">
                    
                    
                <!-- BOTONES LOGIN Y CARRITO -->
                <section class="elem__sec-buttons">
                    <button type="button" class="log-shop"><a href="/login"><i class="far fa-user-circle"></i>LOGIN</a></button>
                    <button type="button" class="log-shop"><a href="/carrito"><i class="fas fa-shopping-cart"></i>CARRITO</a></button>
                </section>
                    
                <!-- BARRA DE BÚSQUEDA -->
                <section class="elem__area-bar">
                    <form action="" method="">
                        <input type="text" class="area-bar__search" placeholder="Buscar productos..." >
                        <button class="mag-glass" type="submit">
                                <i class="fas fa-search"></i>
                        </button>
                    </form>
                </section>

                <!-- <section class="elem__burger">
                    <nav class="burger__menu">
                        <i class="fas fa-bars"></i>
                    </nav>
                </section> -->

            </section>
            
            <!-- GUARDA DE COLORES -->
            <div class="guarda">             
            </div>

    </header>
    
    <main class="main-home">
        <!-- CARRUSEL PRINCIPAL -->
        <div class="carrusel-principal">
            <img class="carrusel-principal_imagenes" src="/img/destacado-alienware-streamsetup.jpg" alt="Carrusel imagen 1">
        </div>
    
        <!-- BOTONES NAVEGACIÓN MAIN HOME -->
        <nav class="nav-home">
    
            <section class="nav-home_buttons">
    
                <div class="buttons_categories-home">
                    <button class="buttons-round">
                        <a href="#"><i class="fas fa-laptop"></i></a>
                    </button>
                    <button class="buttons-link">
                        <a href="#">NOTEBOOKS</a>
                    </button>
                </div>
                <div class="buttons_categories-home">
                    <button class="buttons-round">
                        <a href="#"><i class="fas fa-keyboard"></i></a>
                    </button>
                    <button class="buttons-link">
                        <a href="#">ACCESORIOS</a>
                    </button>
                </div>
                <div class="buttons_categories-home">
                    <button class="buttons-round">
                        <a href="#"><i class="fas fa-headset"></i></a>
                    </button>
                    <button class="buttons-link">
                        <a href="#">PERIFÉRICOS</a>
                    </button>
                </div>
                <div class="buttons_categories-home">
                    <button class="buttons-round">
                        <a href="#"><i class="fas fa-gamepad"></i></a>
                    </button>
                    <button class="buttons-link">
                        <a href="#">CONSOLAS</a>
                    </button>
                </div>
                <div class="buttons_categories-home">
                    <button class="buttons-round">
                        <a href="#"><i class="fas fa-microchip"></i></a>
                    </button>
                    <button class="buttons-link">
                        <a href="#">COMPONENTES</a>
                    </button>
                </div>
            
            </section>
    
        </nav>
    
        <section class="prod-destacados">
            <h2 class="prod-destacados_titulos-home">Destacados</h2>
    
            <nav class="prod-destacados_carrusel-prod">
                <article class="cont-dest">
                    <article class="cont-dest_img">
                        <img src="/img/asus-zephyrus-duo_15-GX550LXS-001.jpg" class="img_productos-dest" alt="Asus Rog Zephyrus Duo">
                    </article>
                    <article class="cont-dest_descripcion">
                        <h3 class="descripcion_nombre-prod">Asus Rog Zephyrus Duo Ryzen 9 16Gb 1Tb Rtx 3060</h3>
                    </article>
                    <article class="cont-dest_precio">
                        <h4 class="precio_total">$580.000</h4>
                    </article>
                </article>
    
                <article class="cont-dest">
                    <article class="cont-dest_img">
                        <img src="/img/placa-video-radeon-rx_41411_1.jpeg" class="img_productos-dest" alt="Acer Nitro i5">
                    </article>
                    <article class="cont-dest_descripcion">
                        <h3 class="descripcion_nombre-prod">Placa De Video Msi Gaming Radeon Rx 6800 X Trio 16G</h3>
                    </article>
                    <article class="cont-dest_precio">
                        <h4 class="precio_total">$289.900</h4>
                    </article>
                </article>
    
                <article class="cont-dest">
                    <article class="cont-dest_img">
                        <img src="/img/kolink-inspire-k20-001.jpg" class="img_productos-dest" alt="Acer Nitro i5">
                    </article>
                    <article class="cont-dest_descripcion">
                        <h3 class="descripcion_nombre-prod">Gabinete Kolink Inspire K20</h3>
                    </article>
                    <article class="cont-dest_precio">
                        <h4 class="precio_total">$6.700</h4>
                    </article>
                </article>
    
                <article class="cont-dest">
                    <article class="cont-dest_img">
                        <img src="/img/steelseries-rival650-001.jpg" class="img_productos-dest" alt="Acer Nitro i5">
                    </article>
                    <article class="cont-dest_descripcion">
                        <h3 class="descripcion_nombre-prod">Mouse Steelseries Rival 650 Quantum</h3>
                    </article>
                    <article class="cont-dest_precio">
                        <h4 class="precio_total">$37.570</h4>
                    </article>
                </article>
    
                <article class="cont-dest">
                    <article class="cont-dest_img">
                        <img src="/img/razer-blackwidow-mini-v3-001.jpg" class="img_productos-dest" alt="Acer Nitro i5">
                    </article>
                    <article class="cont-dest_descripcion">
                        <h3 class="descripcion_nombre-prod">Teclado Razer BLACKWIDOW V3 Mini Hyper Speed</h3>
                    </article>
                    <article class="cont-dest_precio">
                        <h4 class="precio_total">$22.700</h4>
                    </article>
                </article>
            </nav>
        </section>
    
    
    </main>
    
    <footer>
        <nav class="nav-footer">
    
           <div class="contenedor-footer">
               
                <!-- LOGO FOOTER -->
                <div class="footer-logo">
                    <a href="/">
                        <img class = "logo-footer" src="img/dft-logo.png" alt="Logo del fuego techno">
                    </a>
                </div>
    
    
                <!-- SUBTÍTULOS Y CONTENIDO FOOTER -->
                
                <section class= "cont-elem-footer">
                    
                    <!-- CATEGORIAS -->
                    <article class="columnas">
                        <h3 class="h3-footer">Categorías</h3>
                        <ul>
                            <li><a href="#">Accesorios</a></li>
                            <li><a href="#">Componentes</a></li>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#">FaQ</a></li>
                            <li><a href="#">Nosotros</a></li>
                            <li><a href="#">Notebooks</a></li>
                            <li><a href="#">Ofertas</a></li>
                            <li><a href="#">PC Armadas</a></li>
                            <li><a href="#">Periféricos</a></li>
                            <li><a href="#">Sillas Gamer</a></li>
                        </ul>
                    </article>
                    
                    <!-- CONTACTO -->
                    <article class="columnas">
                        <h3 class="h3-footer">Contacto</h3>
                        <ul>
                            <li class="contacto">Av. Saraza 21845 - CABA</li>
                            <li class="contacto">Horario de atención de 10hs a 20hs</li>
                            <li class="contacto">Teléfono: 4455-6677</li>
                            <li class="contacto">WhatsApp: +54 9 1122334455</li>
                        </ul>
                    </article>
                    
                </section>
    
                <section class="columna-footer">
    
                    <!-- REDES SOCIALES -->
                    <article class="links-redes">
                        <h3 class="h3-footer">Redes Sociales</h3>
                        <section class="links-redes_buttons-rs">
    
                            <div class="buttons-rs_categories">
                                <button class="categories-redes-ig">
                                    <a href="#"><i class="	fab fa-instagram"></i></a>
                                </button>
                            </div>
                            <div class="buttons-rs_categories">
                                <button class="categories-redes-fb">
                                    <a href="#"><i class="	fab fa-facebook"></i></a>
                                </button>
                            </div>
                            <div class="buttons-rs_categories">
                                <button class="categories-redes-yt">
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                </button>
                            </div>
                            <div class="buttons-rs_categories">
                                <button class="categories-redes-tw">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </button>
                            </div>
    
                        </section>
                    </article>
                    
                    <!-- NEWSLETTER -->
                    <article class="newsletter">
                        <h3 class="h3-footer">Newsletter</h3>
                        <form class="barra-newsletter">
                            <input placeholder="ejemplo@mail.com" class="newsletter-mail">
                            <button type="button" class="footer-send">
                                Enviar
                            </button>
                        </form>
                    </article>
    
                </section>
    
           </div>
            
        </nav>
    
    </footer>

            
</body>
</html>