<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">  <!-- hoja de estilos -->


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet"> <!-- fonts -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet"/> <!-- iconos -->

    <title>DelFuegoTechno - Inicio</title>

</head>
<body>

    <header>
                
        <nav class="nav-header">
            
            <div class="contenedor-header">
                
                <!-- LOGO -->
                <section class="header-logo">
                    <a href="/">
                        <img class = "logo-header" src="img/dft-logo.png" alt="Logo del fuego techno">
                    </a>
                </section>
                
                <!-- BOTONES PRINCIPALES -->
                <section class="main-buttons">
                    <button type="button" class="header-buttons">
                        <a href="#">Productos</a>
                    </button>
                    <button type="button" class="header-buttons">
                        <a href="#">Ofertas</a>
                    </button>
                    <button type="button" class="header-buttons">
                        <a href="#">Nosotros</a>
                    </button>
                    <button type="button" class="header-buttons">
                        <a href="#">Contacto</a>
                    </button>
                </section>
                
                <!-- SECUNDARIOS Y BÚSQUEDA -->
                
                <section class="cont-elem-header">
                    
                    <!-- BARRA DE BÚSQUEDA -->
                    <section class="area-bar">
                        <form>
                            <input placeholder="Buscar productos..." type="text" class="search">
                            <button type="button" class="mag-glass">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>
                    </section>
                    
                    <!-- BOTONES LOGIN Y CARRITO -->
                    <section class="sec-buttons">
                        <button type="button" class="log-shop"><a href="/login.html"><i class="far fa-user-circle"></i>LOGIN</a></button>
                        <button type="button" class="log-shop"><a href="/carrito.html"><i class="fas fa-shopping-cart"></i>CARRITO</a></button>
                    </section>
                    
                </section>

                                
            </div>

            <!-- GUARDA DE COLORES -->
            <div class="guarda">             
            </div>
            
        </nav>       

    </header>

    <form class="formulario-registro">
        <h1 class="titulo-registro">Inicia Sesión</h1>
        <div class="contenedor">

        <div class="input-contenedor">
            <i class="fa-solid fa-at"></i>
            <input type="mail" placeholder="Correo Electronico">
        </div>
        <div class="input-contenedor">
            <i class="fa-solid fa-key"></i>
            <input type="password" placeholder="Contraseña">
        </div>
      
        <input type="submit" value="Ingresar" class="button">
        <p>¿No tienes cuenta?<a  href="/views/registro.html">Registrate</a></p>

        </div>
    </form>


    <main class="login">
        <!-- <img class="carrusel-main" src="/img/destacado-alienware-streamsetup.jpg" alt="Carrusel imagen 1"> -->
       
    </main>

    <footer>
        <nav class="nav-footer">

           <div class="contenedor-footer">
               
                <!-- LOGO FOOTER -->
                <div class="footer-logo">
                    <a href="/">
                        <img class = "logo-footer" src="img/dft-logo.png" alt="Logo del fuego techno">
                    </a>
                </div>


                <!-- SUBTÍTULOS Y CONTENIDO FOOTER -->
                
                <section class= "cont-elem-footer">
                    
                    <!-- CATEGORIAS -->
                    <article class="columnas">
                        <h3 class="h3-footer">Categorías</h3>
                        <ul>
                            <li><a href="#">Accesorios</a></li>
                            <li><a href="#">Componentes</a></li>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#">FaQ</a></li>
                            <li><a href="#">Nosotros</a></li>
                            <li><a href="#">Notebooks</a></li>
                            <li><a href="#">Ofertas</a></li>
                            <li><a href="#">PC Armadas</a></li>
                            <li><a href="#">Periféricos</a></li>
                            <li><a href="#">Sillas Gamer</a></li>
                        </ul>
                    </article>
                    
                    <!-- CONTACTO -->
                    <article class="columnas">
                        <h3 class="h3-footer">Contacto</h3>
                        <ul>
                            <li class="contacto">Av. Saraza 21845 - CABA</li>
                            <li class="contacto">Horario de atención de 10hs a 20hs</li>
                            <li class="contacto">Teléfono: 4455-6677</li>
                            <li class="contacto">WhatsApp: +54 9 1122334455</li>
                        </ul>
                    </article>
                    
                </section>

                <section class="columna-footer">

                    <!-- REDES SOCIALES -->
                    <article class="links-redes">
                        <h3 class="h3-footer">Redes Sociales</h3>
                        <section class="net-buttons">
                            <button type="button" class="btn-redes">
                                <a href="#"><img src="/img/instagram.png" alt="Instagram" class="redes-sociales"> </a>
                            </button>
                            <button type="button" class="btn-redes">
                                <a href="#"><img src="/img/facebook.png" alt="Fabebook" class="redes-sociales"> </a>
                            </button>
                            <button type="button" class="btn-redes">
                                <a href="#"><img src="/img/youtube.png" alt="Youtube" class="redes-sociales"> </a>
                            </button>
                            <button type="button" class="btn-redes">
                                <a href="#"><img src="/img/twitter.png" alt="Twitter" class="redes-sociales"> </a>
                            </button>
                        </section>
                    </article>
                    
                    <!-- NEWSLETTER -->
                    <article class="newsletter">
                        <h3 class="h3-footer">Newsletter</h3>
                        <form class="barra-newsletter">
                            <input placeholder="ejemplo@mail.com" type="text" class="nl-mail">
                            <button type="button" class="send">
                                Enviar
                            </button>
                        </form>
                    </article>

                </section>

           </div>
            
        </nav>

    </footer>
    
</body>
</html>