
/* Variables de color */

:root {

    /*Colors*/
    --negro: #000;
    --gris-osc: #666;
    --gris: #989898;
    --gris-medio: #ababab;
    --gris-claro: #e1e1e1;
    --blanco: #fff;
    --turq: #01A9B4;
    --celeste-logo: #3CB9FC;
    --cyan: #07F7FE;
    --aqua: #08FBD2;
    --yellow: #F4D30F;
    --magenta: #EE2B79;
    --azul: #22205F;
    --violet: #B537F2;
}



*{
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', 'sans-serif';
    margin: 0px;
    padding: 0px;
}


@media (min-width:360px) and (max-width:719px){
    
    /* Header */
    .contenedor-header{
        width: 100%
    }

    nav.header__menu{
        display:none;
    }

    .header__logo{
        margin: 10px 15px 0 15px;
        position: relative;
    }

    .header__elem{
        width: 176px;
    }

    .area-bar__search {
        width: 80%;
    }    

    
    /* .burger__menu > i{
        right: 1%;
        top: 4px;
    } */
    


    /* Footer */

    .footer__logo {
        display: none;
    }

    .footer_elem{
        display: none;
    }

    .links__newsletter{
        display: none;
    }

    .h3-footer{
        display: none;
    }

    .buttons__rs > li{
        margin: 0 12px 0 12px;
    }


    

    /* Home */

    .main-home__banner-marcas{
        display: none;
    }

    .main-home__sect-cont{
        display: flex;
        height: 180px;
    }
    .nav-cont{
        width: 90%;
    }

    .buttons__links{
        display: none;
    }

    .buttons__round{
        font-size: 32px;
        margin: 0 6px 0 6px;
    }

    /* Carrito */

    .rightArticle{
        border-top: 1px solid var(--gris);
        margin-top: 48px;
        padding: 0 14px 0 14px;
        width: 282px;
    }

    .rightArticle-button{
        margin-top: 25px;
    }

    .cont-form-login{
        width: 100%;
    }

    .cont-form-rg{
        width: 100%;
    }


    /*Producto */

    .cont-det-producto {
        flex-direction: column;
        width: 90%;
        padding: 6px 0;
    }

    .cont-img-prod{
        margin: 0 auto 0 auto;
        max-width: 90%;
        height: 100%;
        padding: 12px;
    }

    .img__ppal{
        max-height: 300px;
    }

    .prod__alt{
        justify-content: space-between;
    }

    .alt__img{

        width: 30%;
    }

    .cont_des_prod{
        margin: 0 auto 0 auto;
        max-width: 88%;
        padding: 16px 0;
    }

}

@media (min-width:720px) and (max-width:959px){
    

    /* Header */

    .contenedor-header{
        margin: 0px auto 0px auto;
        padding: 5px 0px 5px 0px;
        width: 100%;
    }

    nav.header__menu{
        display:none;
    }
    
    .header__logo{
        position: relative;
        
    }
    
    .header__elem{
        width: 220px;
    }
    
    .area-bar__search {
        width: 85%;
    }    
    
    /* .burger__menu > i{
        left: 1%;
        top: 4px;
    } */
    
    /* Footer */

    .contenedor-footer{
        margin: 5px auto 5px auto;
        width: 100%;
    }
    
    .footer_elem{
        display: none;
    }
    

    /* Home */


    .main-home__banner-marcas{
        display: none;
    }

    .main-home__sect-cont{
        display: flex;
        height: 256px;
    }

    .nav-cont{
        width: 75%;
    }

    .buttons__round{
        font-size: 48px;
    }

    /* Carrito */

    .rightArticle{
        padding: 0 18px 0 24px;
        width: 266px;
    }

    .leftArticle {
        padding: 0 0px 0 24px;
        width: 60%;
    }

    .rightArticle-button{
        margin-top: 18px;
    }

    .cont-form-login{
        width: 100%;
    }

    .cont-form-rg{
        width: 100%;
    }

    /* Producto */

    .cont-det-producto {
        flex-direction: column;
        width: 90%;
        padding: 6px 0;
    }

    .cont-img-prod{
        height: 100%;
        margin: 0 auto;
        max-width: 90%;
        padding: 12px;
    }

    .prod__alt{
        justify-content: space-between;
    }

    .alt__img{
        width: 30%;
    }

    .cont_des_prod{
        margin: 0 auto 0 auto;
        max-width: 88%;
        padding: 32px 0;
    }

    
}




@media (min-width:960px) and (max-width:1389px){
    
    /* Header */


    .elem__burger{
        display:none;
    }
    
    .contenedor-header{
        margin: 0px auto 0px auto;
        padding: 15px 0px 5px 0px;
        width: 85%;
    }
    
    .menu__lista > li > a {
        font-size: 14px;
    }
    
    .area-bar__search {
        width: 90%;
    }
    
    
    .header__elem{
        width: 320px;
    }
    
    .area-bar__search {
        width: 100%;
    }
    
    /* Footer */

    footer{
        height: 350px;
    }

    .contenedor-footer{
        margin: 15px auto 5px auto;
        width: 85%;
    }

    .footer_elem{
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 35%;
    }

    /* Home */

    .main-home__banner-marcas{
        display: flex;
    }

    .main-home__sect-cont{
        display: flex;
        height: 256px;
    }

    .nav-cont{
        width: 75%;
    }

    .buttons__round{
        font-size: 48px;
    }

    /*Carrito*/
    
    .rightArticle{
        padding: 0 18px 0 24px;
        width: 288px;
    }

    .rightArticle-button{
        margin-top: 22px;
    }

    .cont-form-login{
        width: 90%;
    }

    .cont-form-rg{
        width: 90%;
    }

    /*Producto*/

    .cont-det-producto {
        flex-direction: row;
        padding: 30px 0;
        width: 70%;
    }


    .prod__alt{
        justify-content: flex-start;
    }

    .cont-img-prod{
        max-width: 55%;
        height: 100%;
        padding: 12px;
    }


    .alt__img{
        margin-right: 2%;
        width: 30%;
    }

    .cont_des_prod{
        max-height: 95%;
        max-width: 40%;
        padding: 16px 16px;
    }

    
}

@media (min-width:1390px){

    /*Header*/
    
    .elem__burger{
        display:none;
    }

    .contenedor-header{
        margin: 0px auto 0px auto;
        padding: 15px 0px 5px 0px;
        width: 75%;
    }
    
    .menu__lista > li > a {
        font-size: 16px;
    }
    
    .area-bar__search {
        width: 100%;
    }    
    
    /* Footer */

    footer{
        height: 250px;
    }

    .contenedor-footer{
        margin: 15px auto 5px auto;
        width: 75%;
    }

    .footer_elem{
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 35%;
    }

    /* Home */

    .main-home__banner-marcas{
        display: flex;
    }

    .main-home__sect-cont{
        display: flex;
        height: 256px;
    }

    .nav-cont{
        width: 75%;
    }

    .buttons__round{
        font-size: 48px;
    }

    /* Carrito */

    .rightArticle{
        padding: 0 18px 0 24px;
        width: 340px;
    }

    .rightArticle-button{
        margin-top: 24px;
    }

    .cont-form-login{
        width: 75%;
    }

    .cont-form-rg{
        width: 75%;
    }

    /* Producto */

    .cont-det-producto {
        flex-direction: row;
        padding: 30px 0;
        width: 70%;
    }


    .cont-img-prod{
        height: 100%;
        width: 46%;
    
    }

    .prod__alt{
        justify-content: flex-start;
    }

    .alt__img{
        margin-right: 4%;
        width: 20%;
    }



    .cont_des_prod{
        max-height: 95%;
        width: 40%;    
    }

    
}




/* -------- HEADER -------- */

header{
    background-color: #000;
    height: 112px;
    margin: 0px;
    position: fixed;
    width: 100%;
    z-index: 10;

}

.contenedor-header{
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


    


/* -------- LOGO -------- */

.header__logo{
    width: 136px;

}

.logo__img{
    width: 100%;

} 



/* -------- BOTONES PRINCIPALES -------- */

.header__menu{
    width: 42%;
} 

.menu__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 0;
    padding: 0px;
}

.menu__lista > li{
    list-style: none;


}
.menu__lista > li > a{
    color: var(--cyan);
    font-weight: 500;
    text-decoration: none;

}

.menu__lista > li > a:hover{
    color: var(--magenta);
    transition: all 250ms ease;

}

/* -------- BOTONES SECUNDARIOS Y BÚSQUEDA -------- */

.header__elem{
    align-content: space-around;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* -------- BOTONES SECUNDARIOS -------- */


.elem__sec-buttons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.log-shop {
    background: none;
    border: none;
    cursor: default;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;
    margin-right: 80px;
    text-rendering: auto;
 
}

.log-shop > a{
    color: var(--gris);
    text-decoration: none;
    width: 45%;
}

.log-shop > a:hover{
    color: var(--celeste-logo);
    transition: all 250ms ease;
}

.log-shop > a > i{
    color:#3cb9fc;
    margin-right: 8px;
    text-decoration: none;
}


/* -------- BARRA DE BÚSQUEDA -------- */

.elem__area-bar{
    position: relative;
    width: 100%;
}

.area-bar__search{
    border: none;
    border-radius: 8px;
    font-size: 14px;
    height: 28px;
    padding-left: 15px;
    width: 100%;
}

.mag-glass {
    background: white;
    border: none;
    border-left: 1px solid #989898;
    cursor: pointer;
    color: #989898;
    font-size: 14px;
    position: absolute;
    right: 4px;
    top: 19%;

}

/* -------- Burger Menu -------- */

/* .elem__burger{
    margin: 15px;
    text-align: center;
}

.burger__menu > i{
    border: none;
    color: var(--gris-medio);
    font-size: 22px;
    padding: 12px;
    position: absolute;
} */


/* -------- GUARDA DE COLORES -------- */

@keyframes moving-gradient{

    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}

}

div.guarda{
    background: linear-gradient(to right, var(--celeste-logo), var(--violet), var(--magenta), var(--yellow), var(--aqua), var(--cyan));
    background-size: 400% 400%;
    animation: moving-gradient 5s linear infinite;
    height: 8px;
    position: absolute;
    top: 104px;
    width: 100%;
}


/* -------- MAIN HOME -------- */


.main-home{
    background-image: linear-gradient(to bottom, #000, #666);
    padding-top: 112px;
    min-height: 960px;
    width: 100%;
}

/* -------- Carrusel imagenes grandes -------- */

div.ss-home-ppal{
    display: flex;
    margin: 0 auto 0 auto;
    width: 100%;
}

.ss-home-ppal__img{

    width: 100%;
}

/* -------- Botones redondos -------- */

.main-home__sect-cont {
    align-items: center;
    background-color: var(--gris-medio);
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;

}

.sect-cont__titulo{
    font-family: 'Roboto Condensed';
    font-size: 24px;
    color: var(--gris-osc);
    margin: 0;
}

.nav-cont{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div.nav-cont__buttons{
    align-items: center;
    display: flex;
    flex-direction: column;
}



.buttons__links {
    background: none;
    border: none;
    cursor: default;
    font-family: "Roboto Condensed";
    font-size: 18px;
    padding-top: 15px;
    text-rendering: auto;
    
}

.buttons__links > a{
    color:var(--gris-osc);
    font-weight: 600;
    text-decoration: none;
}


.buttons__round{
    background-color: transparent;
    border: none;
    cursor: default;
    padding: 8px;

}



.buttons__round > a > i{
    color:var(--gris-osc);
    text-decoration: none;
    max-height: 30px;
}
.buttons__round > a > i:hover{
    color:var(--magenta);
    transition: all 250ms ease;
}




/*--------- Carrusel destacados ---------- */



section.main-home__cont-prod{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 64px auto auto auto;
    justify-content: flex-start;
    padding-bottom: 40px;
    width: 75%;

}


h2.cont-prod__categorias{
    font-size: 24px;
    font-weight: 500;
    color: var(--gris-claro);
}

.cont-prod__articulos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.cont-dest{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 380px;
    margin: 15px auto 0 auto;
    position: relative;
    width: 260px;
}

.cont-dest:hover{
    border: solid 3px var(--celeste-logo);
    box-shadow: 4px 4px 6px var(--negro);
    transition: all 300ms linear;
}

.cont-dest > a{
    color: var(--negro);
    text-decoration: none;
}

.cont-dest__img {
    height: 248px;
    width: 100%;
}

.img__producto{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 16px;
}

.cont-dest__descripcion{
    height: 124px;
    padding: 5px;

}

.descripcion__divis{
    border: none;
    border-top: 1px var(--gris-medio) solid;
    width: 80%;
}


h3.descripcion__nombre-prod{
    font-size: 16px;
    font-weight: 400;
    height: 40%;
    padding: 5px;
}


.descripcion__precio{
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 5px;
}

.cont-dest__carrito{
    background-color: var(--blanco);
    border: none;
    bottom: 2%;
    cursor: pointer;
    position: absolute;
    right: 3%;
    text-decoration: none;
}
.cont-dest__carrito > i{
    color: var(--celeste-logo);
}



.cont-dest__fav{
    background-color: var(--blanco);
    border: none;
    color: var(--gris-osc);
    font-size: 18px;
    position: absolute;
    right: 2%;
    top: 2%;

}

/* -------- Imagen central destacada -------- */

div.home-dest-central{
    display: flex;
    margin: 0 auto 0 auto;
    width: 100%;
}

.home-dest-central__img{

    width: 100%;
}

/* -------- Banner marcas ---------- */

.main-home__banner-marcas{
    flex-direction: column;
}

.banner-marcas__titulo{
    align-self: center;
    font-family: 'Roboto Condensed';
    font-size: 20px;
    color: var(--turq);
}

.banner-marcas__logos{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--gris-medio);
    height: 136px;
    justify-content: space-around;
    width: 100%;
}

.logos__link{
    background-color: var(--blanco);
    height: 65%;
    width: 8%;
}
.logos__link:hover{
    box-shadow: 5px 5px 8px var(--gris-osc);
    border: 2px solid var(--magenta);
    transition: all 250ms ease;
}

.link__img{
    height: 90%;
    object-fit: contain;
    padding: 5px;
    width: 90%;
    position: relative;
    top: 5px;
    left: 4px;
}

/*----------- MAIN PRODUCTO ----------*/

main.detalleDeProducto{
    background-image: linear-gradient(to bottom, var(--negro), var(--gris-osc));
    padding: 168px 0 50px 0;
    margin-bottom: 0%;
    min-height: 100vh;
    width: 100%;
}


/* Imagen producto */

.cont-det-producto{
    background-color: var(--gris-claro);
    box-shadow: 4px 4px 6px var(--negro);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-evenly;
    margin: 24px auto 0px auto;
}


.prod__img{
    background-color: var(--blanco);
    border: 1px var(--gris-medio) solid;
    height: 75%;
    text-align: center;
    width: 100%;
}

.img__ppal{
    cursor: pointer;
    margin: auto;
    max-width: 100%;
    object-fit: contain;
    padding: 16px;
}

.prod__alt{
    display: flex;
    flex-wrap: wrap;
    margin: 28px 0px 0px 0px;

}

.alt__img{
    background-color: white;
    border: 1px solid var(--gris-medio);
    cursor: pointer;
    min-height: 100%;
}

.img__fotito{
    object-fit: contain;
    width: 100%;
    height: 100%;
    padding: 8px;
    cursor: pointer;
}



.titulo_prod{
    border-bottom: 1px solid var(--gris);
    font-family: "Roboto";
    font-size: 26px;
    font-weight: 500;
    color: var(--turq);
    padding-bottom: 15px;
    width: 100%;
   
}

.subtitulo_prod{
    color: var(--turq);
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
}

.desc_prod{
    font-family: "Roboto";
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 8%;
    padding-top: 15px;    
}

.precio_prod{
    color: var(--gris-osc);
    font-family: "Roboto";
    font-size: 20px;
    font-size: 22px;
    font-weight: 600;
    padding: 15px 0 15px 0;
}

.precio_prod > p{
    margin: 0;
}


.Comprar_prod{
    background-color: var(--turq);
    border: none;
    color: var(--blanco);
    cursor: pointer;
    font-weight: 500;
    height: 50px;
    width: 35%;
 
}

.Comprar_prod:hover{
    background-color: var(--celeste-logo);
    transition: all 250ms ease;
}


.heart_b{
    background-color: var(--gris-claro);
    border: none;
    color: var(--magenta);
    cursor: pointer;
    font-size: 20px;
    text-rendering: auto;
    text-decoration: none;
    padding: 0 25px 0 0;

}

.shop_b{
    background-color: var(--gris-claro);
    border: none;
    cursor: pointer;
    text-rendering: auto;
    padding: 0 25px 0 0;
}

.shop_b > a{
    color: var(--gris-osc);
    text-decoration: none;

}

.shop_b > a:hover{
    color: var(--celeste-logo);

}

.shop_b > a > i{
    font-size: 20px;
}

.share_b{
    background-color: var(--gris-claro);
    border: none;
    color:var(--gris-osc);
    cursor: pointer;
    font-size: 20px;
    text-rendering: auto;
    text-decoration: none;
    padding: 0 25px 0 0;
}

.share_b:hover{
    color:var(--celeste-logo);
 
}

.desc_prod_tex{
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    width: 100%;
    
}

.desc_prod_tex > p{
    color: var(--gris-osc);
    text-align: justify;
}






/* ------------------ MAIN CARRITO ------------------ */

main.carrito{
    background-image: linear-gradient(to bottom, var(--negro), var(--gris-osc));
    padding-top: 50px;
    min-height: 960px;
    width: 100%
}

.carrito-title{
    color: #01A9B4;
    font-family: "Roboto";
    font-size: 24px;
}

.hiddenSpan{
    visibility: none;
}

/*top section carrito*/

.top-section{
    align-items: center;
    background-color: var(--gris-claro);
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80%;
    height: 60%;
    box-shadow: 4px 4px 6px var(--negro);
}

/*leftArticle*/

.leftArticle{
    width: 90%;
}


.leftArticle-breadCrum{
    font-size: 12px;
}

.leftArticle-breadCrum > a{
    color: var(--gris-osc);
    text-decoration: none;
    padding-left: 2px;
}

.leftArticle-breadCrum > a:hover{
    color: var(--turq);
    text-decoration: underline;
    transition: all 250ms ease;
}

/*caja del carrito*/

.caja{
    display: flex;
    flex-direction: column;
}

.caja-producto{
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
}

.caja-producto:hover{
    box-shadow: 4px 4px 6px var(--gris-medio);
    transition: all 250ms ease;
}

.caja-producto-izquierda{
    background-color: var(--blanco);
    width: 80%;
    border: solid 1px var(--gris-claro);
    margin-left: auto;
    margin-right: auto;
}
.img-producto{
    object-fit: contain;
    padding: 16px;
    width: 100%;
}

.caja-producto-derecha{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.caja-producto-derecha-top{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.caja-producto-derecha-bottom{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: space-between;
    padding-bottom: 10px;
}

.counter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caja-price{
    font-weight: bold;
    color: #666;
}

.fa-solid.fa-circle-plus,
.fa-solid.fa-circle-minus{
    color:#ababab;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}

.fa-solid.fa-trash-can{
    color: #666;
}

.count-form{
    width: 30px;
}

.linkToProduct{
    font-size: 20px;
    color: #01A9B4;
    font-weight: bold;
    text-decoration: none;
}

.linkToProduct:hover{
    text-decoration: underline;
}

.leftArticle-btns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.leftArticle-btn{
    border: none;
    background-color: var(--gris-claro);
    color: #666;
    cursor: pointer;
    padding: 2px;
}

.leftArticle-btn:hover{
    border: solid 1px #989898;
    text-decoration: underline;
    transition: all 350ms ease;
}

.seguirComprando{
    text-decoration: none;
    color: #01A9B4;
    padding: 2px;
}

.seguirComprando:hover{
    text-decoration: underline;
    transition: all 250ms;
}



/* --- rightArticle --- */

.rightArticle-div{
    display: flex;
    justify-content: space-between;
}

.rightArticle-resumenDeOrden{
    color: #01A9B4;
    font-size: 24px;
    font-weight: bold;
}

.rightArticle-div-total{
    display: flex;
    justify-content: space-between;
}

.rightArticle-div-finalizar{
    display: flex;
    justify-content: center;    
}

.rightArticle-div > p{
    color: #666;
    font-weight: bold;
}

.rightArticle-div-total > p{
    color: #01A9B4;
    font-weight: bold;
}

.totalP{
    padding-top: 16px;
}

.totalPrice{
    font-size: 24px;
    align-content: center;
}

.rightArticle-button{
    color: #fff;
    cursor: pointer;
    background-color: #01A9B4;
    font-weight: 500;
    height: 50px;
    width: 70%;
    border: none;
}

.rightArticle-button:hover{
    background-color:#3cb9fc;
    transition: all 250ms;
}

/*Main Carrito Bottom Section*/
.bottom-section{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 80%;
}
.bottom-section-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bottom-section-top{
    margin-top: 30px;
    margin-bottom: 20px;
}

/* .bottom-section-bottom > article{
    margin-right: 30px;
} */

.bottom-section-title{
    color: #e1e1e1;    
}

/*media queries carrito*/

@media (min-width:720px){

    /*top section carrito*/
    .top-section{
        align-items: center;
        background-color: var(--gris-claro);
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        justify-content: space-around;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 90%;
        height: 60%;
        box-shadow: 4px 4px 6px var(--negro);
    }
    
    /*leftArticle*/

    .leftArticle{
        padding: 0 0 0 16px;
        width: 60%;
    }

    /*caja del carrito*/
    .caja-producto{
        background-color: var(--blanco);
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 20px;
        padding: 20px;
    }

    .caja-producto-izquierda{
        background-color: var(--blanco);
        width: 30%;
        border: solid 1px var(--gris-claro);
    }

    .caja-producto-derecha{
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    .caja-producto-derecha-top{
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        margin-left: 20px;
        margin-bottom: auto;
        justify-content: space-between;
    }
    
    .caja-producto-derecha-bottom{
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        justify-content: space-between;
        padding-bottom: 10px;
    }
    
    .counter{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .caja-price{
        font-weight: bold;
        color: #666;
    }

    .leftArticle-btn{
        border: none;
        background-color: var(--gris-claro);
        color: #666;
        cursor: pointer;
        margin-left: 10px;
    }

    .leftArticle-btns{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

@media (min-width:960px){

    .top-section{
        width: 70%;
    }
}



/* ---------------- REGISTRO -------------*/


.main-registro{
    background-image: linear-gradient(to bottom, var(--negro), var(--gris-osc));
    padding: 168px 0 50px 0;
    min-height: 100vh;
    width: 100%
}



.cont-form-rg{
    margin: 0 auto 0 auto;
}

.form-registro{
    align-content: center;
    align-items: center;
    background-color: var(--gris-claro);
    box-shadow: 2px 2px 6px var(--negro);
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    height: auto;
    justify-content: center;
    margin: 0 auto 0 auto;
    min-width: 300px;
    padding: 24px 0 24px 0;
    width: 50%;

}

.cont-rg{
    border-top: solid 2px var(--turq);
    border-bottom: solid 2px var(--turq);
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    min-width: 215px;
    padding: 28px 0 7px 0;
    width: 50%;
}

.rg__campos, .rg__avatar, .rg__nac{
    background-color: var(--blanco);
    border: 1px solid var(--gris-osc);
    border-radius: 8px;
    font-size: 15px;
    height: 40px;
    margin: 8px 0 8px 0;
    width: 100%;
}
.rg__campos{
    padding-left: 15px;
}
.rg__avatar{
    padding: 8px 0 0 8px;
}

.rg__nac{
    padding: 0 15px 0 8px;
}

.registro__cont{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 0 10px 0;
}

.rg__subtitulo{
    align-self: flex-start;
    border-bottom: solid 2px var(--turq);
    color: var(--turq);
    font-size: 14px;
    width: 100%;
}



/*------------ LOGIN--------------------*/



.main-login{
    background-image: linear-gradient(to bottom, var(--negro), var(--gris-osc));
    padding: 168px 0 50px 0;
    min-height: 100vh;
    width: 100%
}

.cont-form-login{
    margin: 0 auto 0 auto;
}

.login__form{
    align-content: center;
    align-items: center;
    background-color: var(--gris-claro);
    box-shadow: 2px 2px 6px var(--negro);
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    height: 496px;
    justify-content: center;
    margin: 0 auto 0 auto;
    min-width: 300px;
    width: 50%;
}

.titulo-login{
    align-self: flex-start;
    color: var(--turq);
}

.form-lg{
    border-top: solid 2px var(--turq);
    border-bottom: solid 2px var(--turq);
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    min-width: 215px;
    padding: 28px 0 28px 0;
    width: 40%;
}

.form-lg__campos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 0 10px 0;
}

.lg__campos{
    border: 1px solid var(--gris-osc);
    border-radius: 8px;
    font-size: 15px;
    height: 40px;
    margin-top: 8px;
    padding-left: 15px;
    width: 100%;
}

.lg__descrip{
    color: var(--gris-osc);
    margin: 0;
}

.form-lg__btn{
    background-color: var(--turq);
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 500;
    width: 180px;
    height: 52px;
}

.form-lg__btn:hover{
    background-color: var(--celeste-logo);
    transition: all 250ms ease;

}

.lg-msg{
    color: var(--gris-osc);
    font-size: 12px;
}

.lg-msg > a{
    color: var(--turq);
    font-size: 12px;
    text-decoration: none;
}

.lg-msg > a:hover{
    text-decoration: underline;
}


/* -------- FOOTER  -------- */

footer{
    width: 100%;
    height: auto;
    background-color: var(--negro);
    padding-bottom: 40px;
    padding-top: 15px;

}

.contenedor-footer{
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px auto 0px auto;
}



/* -------- LOGO -------- */

.footer__logo{
    width: 124px;
}

.logo__ft-img{
    width:100%;
}

/* -------- TITULARES -------- */



.h3-footer{
    color: var(--gris-claro);
    font-size: 18px;
    font-weight: 700;
}


/* -------- LINKS   -------- */

.elem__links{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.elem__links > ul > li{
    color: var(--gris-medio);
    font-size: 12px;
    font-weight: 300;
    list-style: none;
    margin-bottom: 10px;
}

.elem__links > ul{
    padding:0%;
}

.elem__links > ul > li > a{
    color: var(--gris-medio);
    font-size: 12px;
    font-weight: 300;
    text-decoration: none;

}



/* -------- REDES Y NEWSLETTER   -------- */


/* --------- Links redes --------- */

.links__redes{
    margin-bottom: 10px;

}

.buttons__rs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
}

.buttons__rs > li{
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-decoration: none;
    border: none;
    border-radius: 50%;
    cursor: default;
    height: 48px;
    justify-content: center;
    padding: 10px;
    width: 48px;
}

.buttons__rs > li > a{
    align-self: center;

}

.buttons__rs > li > a > i{
    color: var(--blanco);
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    
}


.rs__ig{
    background-color: var(--violet);

}
.rs__fb{
    background-color: var(--celeste-logo);
 
}
.rs__yt{

    background-color: var(--magenta);
}

.rs__tw{
    background-color: var(--aqua);
}




/* --------- Newsletter --------- */
.links__newsletter{
    margin-top: 15px;

}

.newsletter__bar{
    margin-top: 15px;
    position: relative;
    width: 240px;
}

.newsletter__mail{
    font-size: 14px;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 28px;
    padding-left: 8px;
    width: 100%;
}


.bar__send {
    background-color: var(--gris-osc);
    color: var(--gris-claro);
    border: 1px solid var(--gris-osc);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 14px;
    height: 28px;
    position: absolute;
}


