
/* Variables de color */

:root {

    /*Colors*/
    --negro: #000;
    --fondo-main: #1E1F24;
    --gris-int: #444444;
    --gris-osc: #7E7E83;
    --gris: #B3B3B3;
    --gris-medio: #ababab;
    --gris-claro: #e3e3e3;
    --blanco: #fff;
    --turq: #4FD0D9;
    --celeste-logo: #3CB9FC;
    --cyan: #07F7FE;
    --aqua: #08FBD2;
    --yellow: #F4D30F;
    --magenta: #EE2B79;
    --violet: #B537F2;
}



*{
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', 'sans-serif';
    margin: 0px;
    padding: 0px;
}



.main-general{
    background-color: var(--fondo-main);
    padding: 90px 0 50px 0;
    min-height: 100vh;
    width: 100%
}




/* -------- HEADER -------- */

header{
    background-color: var(--negro);
    margin: 0px;
    position: fixed;
    height: 102px;
    width: 100%;
    z-index: 1000;

}

.contenedor-header{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 12px 8px 4px 8px;
    width: 100%;
}





/* -------- LOGO -------- */

.header__logo{
    margin: 10px 15px 0 15px;
    position: relative;
    width: 104px;

}

.logo__img{        
    width: 100%;

}



/* -------- BOTONES PRINCIPALES -------- */


.header__menu{
    display:none;
}

.menu__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 0;
    padding: 0px;
}

.menu__lista > li{
    list-style: none;


}
.menu__lista > li > a{
    color: var(--gris);
    font-weight: 500;
    text-decoration: none;

}

.menu__lista > li > a:hover{
    color: var(--magenta);
    transition: all 250ms ease;

}

ul.lista__productos {
    min-width: 169px;
    background: rgba(0,0,0,0.85);
    display: none;
    padding: 0 5px 0px 15px;
    position: absolute;
    z-index: 999;
}

ul.lista__productos > li {
    list-style: none;
    margin: 24px 0;
}

ul.lista__productos > li > a{
    border: none;
    color: var(--gris);
    font-weight: 500;
    text-decoration: none;

}

ul.lista__productos > li > a:hover{
    color: var(--magenta);
    font-weight: 600;
}

.lista__categorias:hover ul.lista__productos {
    display: block;
}

/* -------- BOTONES SECUNDARIOS Y BÚSQUEDA -------- */

.header__elem{
    align-content: space-around;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 176px;
}

/* -------- BOTONES SECUNDARIOS -------- */


.elem__sec-buttons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.log-shop {
    background: none;
    border: none;
    cursor: default;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;
    text-rendering: auto;

}

.log-shop > a{
    color: var(--gris);
    text-decoration: none;
    width: 45%;
}

.log-shop > a:hover{
    color: var(--celeste-logo);
    transition: all 250ms ease;
}

.log-shop > a > i{
    color: var(--celeste-logo);
    margin-right: 8px;
    text-decoration: none;
}


/* -------- BARRA DE BÚSQUEDA -------- */

.elem__area-bar{
    position: relative;
    width: 100%;
}

.area-bar__search{
    border: none;
    border-radius: 8px;
    font-size: 14px;
    height: 28px;
    padding-left: 15px;
    width: 100%;
}

.mag-glass {
    background: white;
    border: none;
    border-left: 1px solid var(--gris);
    cursor: pointer;
    color: var(--gris);
    font-size: 14px;
    position: absolute;
    right: 4px;
    top: 19%;

}

/* -------- Burger Menu -------- */

/* .elem__burger{
    margin: 15px;
    text-align: center;
}

.burger__menu > i{
    border: none;
    color: var(--gris-medio);
    font-size: 22px;
    padding: 12px;
    position: absolute;
} */


/* -------- GUARDA DE COLORES -------- */

@keyframes moving-gradient{

    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}

}

div.guarda{
    background: linear-gradient(to right, var(--celeste-logo), var(--violet), var(--magenta), var(--yellow), var(--aqua), var(--cyan));
    background-size: 400% 400%;
    animation: moving-gradient 5s linear infinite;
    height: 6px;
    position: absolute;
    width: 100%;
}


/* -------- MAIN HOME -------- */


.main-home{
    background-color: var(--fondo-main);
    padding-top: 102px;
    min-height: 960px;
    width: 100%;
}

/* -------- Carrusel imagenes grandes -------- */

.ss-home-ppal{
    height: 208px;
    width: 100%;
}

.ss-home-ppal__img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

/* -------- Botones categorías -------- */

.main-home__sect-cont {
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 56px;
    justify-content: space-evenly;
    margin: 32px 0;
    width: 100%;

}

.nav-cont{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    width: 90%;
}

.nav-cont__buttons{
    align-items: center;
    display: flex;
    flex-direction: column;
}



.buttons__links {
    background: none;
    border: none;
    cursor: default;
    display: none;
    font-family: "Roboto Condensed";
    font-size: 18px;
    padding-top: 15px;
    text-rendering: auto;

}

.buttons__links > a{
    color:var(--gris-medio);
    font-weight: 600;
    text-decoration: none;
}


.buttons__round{
    background-color: transparent;
    border: none;
    cursor: default;
    font-size: 32px;
    margin: 0 6px 0 6px;
    padding: 8px;

}

.buttons__round > a > i{
    color:var(--gris-medio);
    text-decoration: none;
    max-height: 30px;
}

.nav-cont__buttons:hover .buttons__round > a > i{
    color:var(--magenta);
    transition: all 300ms linear;
}

.nav-cont__buttons:hover .buttons__links > a{
    color:var(--magenta);
    transition: all 300ms linear;
}




/*--------- Carrusel destacados ---------- */



.main-home__cont-prod{
    margin: 32px auto auto auto;
    padding-bottom: 68px;
    width: 90%;

}


.cont-prod__categorias{
    color: var(--gris-medio);
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.cont-prod__articulos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.cont-dest{
    background-color: var(--fondo-main);
    border: var(--gris-medio) 1px solid;
    border-radius: 12px;
    height: 388px;
    margin: 15px;
    position: relative;
    scroll-snap-type: x mandatory;
    width: 260px;
}


@keyframes box-highlight {
    0% {
      box-shadow: 0px 0px 3px 3px var(--magenta);
    }
    35% {
      box-shadow: 0px 0px 3px 3px var(--yellow);
    }
    50% {
      box-shadow: 0px 0px 3px 3px var(--aqua);
    }
    75% {
      box-shadow: 0px 0px 3px 3px var(--cyan);
    }
    100% {
      box-shadow: 0px 0px 3px 3px var(--violet);
    }

  }

.cont-dest:hover{
    transform: scale(105%, 105%);
    transition: transform 300ms ease-in;
    animation: box-highlight 2s linear infinite;
} 
.cont-dest:hover .descripcion__divis{
    border-top: 1px var(--magenta) solid;
} 

.cont-dest > a{
    color: var(--negro);
    text-decoration: none;
}

.cont-dest__img {
    background-color: var(--blanco);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 248px;
    text-align: center;
    position: relative;
    width: 100%;
}

.img__producto{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 24px;
}

.cont-dest__descripcion{
    height: 124px;
    padding: 5px 15px;

}

.descripcion__divis{
    border: none;
    width: 100%;
    height: 6px;
    position: absolute;
    margin: 0;
    bottom: 0;
    background: linear-gradient(to right, var(--celeste-logo), var(--violet), var(--magenta), var(--yellow), var(--aqua), var(--cyan));
}


.descripcion__nombre-prod{
    color: var(--gris-claro);
    font-size: 16px;
    font-weight: 500;
    height: 40%;
    padding: 5px;
}


.descripcion__precio{
    color: var(--gris-claro);
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 5px;
}

.cont-dest__carrito{
    background-color: transparent;
    border: none;
    bottom: 2%;
    cursor: pointer;
    position: absolute;
    right: 3%;
    text-decoration: none;
}
.cont-dest__carrito > i{
    color: var(--celeste-logo);
    font-size: 28px;
}

.cont-dest__carrito > i:hover{
    color: var(--violet);
}



.cont-dest__fav{
    background-color: transparent;
    border: none;
    color: var(--magenta);
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    right: 2%;
    top: 2%;
}



/* -------- Imagen central destacada -------- */

.home-dest-central{
    margin: 0 auto 16px auto;
    width: 100%;
}

.home-dest-central__img{
    object-fit: cover;
    width: 100%;
}

/* -------- Banner marcas ---------- */

.main-home__banner-marcas{
    display: none;
    flex-direction: column;
}

.banner-marcas__titulo{
    font-family: 'Roboto Condensed';
    font-size: 24px;
    color: var(--celeste-logo);
    margin: 32px 0 15px 0;
    text-align: center;
}

.banner-marcas__logos{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--blanco);
    height: 136px;
    justify-content: space-around;
    width: 100%;
}

.logos__link{
    background-color: var(--blanco);
    height: 65%;
    width: 8%;
}
.logos__link:hover{
    box-shadow: 0px 0px 5px 2px var(--celeste-logo);
    transition: all 250ms ease;
}

.link__img{
    height: 90%;
    object-fit: contain;
    padding: 5px;
    width: 90%;
    position: relative;
    top: 5px;
    left: 4px;
}

/*----------- MAIN PRODUCTO ----------*/



/* Imagen producto */


.article-breadCrum {
    font-size: 12px;
    margin: 38px auto 8px auto;
    width: 90%;
}

.breadCrum {
    color: var(--gris-medio);
    cursor: pointer;
    text-decoration: none;

}


.breadCrum:hover {
    color: var(--turq);
    cursor: pointer;
    text-decoration: underline;

}


.cont-det{
    border: 1px solid var(--gris-claro);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 16px;
    width: 90%;
}

.cont-det-producto-top {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    width: 100%;
    padding: 6px 0;
}



.prod__img{
    background-color: var(--blanco);
    height: 75%;
    text-align: center;
    width: 100%;
}

.img__ppal{
    cursor: pointer;
    margin: auto;
    max-width: 100%;
    object-fit: contain;
    padding: 16px;
}

.prod__alt{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 28px 0px 0px 0px;

}

.alt__img{
    background-color: var(--blanco);
    cursor: pointer;
    width: 30%;
}

.alt__img:hover{
    animation: box-highlight 2s linear infinite;
}

.img__fotito{
    object-fit: contain;
    width: 100%;
    height: 100%;
    padding: 8px;
    cursor: pointer;
}

.cont_des_prod{
    margin: 0 auto 0 auto;
    max-width: 88%;
    padding: 16px 0;
}


.cont-det-producto-bot{
    flex-direction: column;
    width: 90%;
    margin: 0 auto 0 auto;
    padding: 6px 0;
}


.titulo__prod{
    color: var(--turq);
    font-family: "Roboto";
    font-size: 26px;
    font-weight: 500;
    margin: 24px 0 24px 0;
    text-align: center;
    width: 100%;

}

.titulo__divis{
    border: none;
    border-bottom: 3px var(--magenta) solid;
    width: 100%;
}

.subtitulo_prod{
    color: var(--turq);
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
}

.desc_prod{
    font-family: "Roboto";
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 8%;
    padding-top: 22px;
    align-items: flex-end;
}

.precio_prod{
    color: var(--gris);
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 600;
    padding: 24px 0 12px 0;
}

.precio_prod > p{
    margin: 0;
}


.comprar_prod{
    background-color: var(--gris-osc);
    border: none;
    border-radius: 6px;
    color: var(--blanco);
    cursor: pointer;
    font-weight: 500;
    height: 50px;
    width: 35%;

}

.comprar_prod:hover{
    animation: box-highlight 2s linear infinite;
    transition: all 400ms linear;
}

.iconos_prod{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 15px 0;
}

.iconos_prod_opinions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.iconos_prod_opinions_text{
    margin: 0 0 0 5px;
    color: var(--gris);
}

.far.fa-star{
    margin: 0 2px 0 0;
    color: var(--yellow);
}

.fas.fa-star{
    margin: 0 2px 0 0;
    color: var(--yellow);
}


.heart_b{
    background-color: transparent;
    border: none;
    color: var(--magenta);
    cursor: pointer;
    font-size: 20px;
    text-rendering: auto;
    text-decoration: none;
    padding: 0 25px 0 0;

}


.share_b{
    background-color:transparent;
    border: none;
    color:var(--gris);
    cursor: pointer;
    font-size: 20px;
    text-rendering: auto;
    text-decoration: none;
    padding: 0 25px 0 0;
}

.share_b:hover{
    color:var(--celeste-logo);

}

.info_venta_prod{
    align-items: center;
    color: var(--gris-claro);
    display: flex;
    flex-direction: row;
}

.info_venta_prod-text{
    margin-left: 15px;
}

.agregar_carrito_btn_div{
    display: flex;
    justify-content: center;
}


.divisor_info_ventas{
    border: none;
    border-bottom: 1px solid #666;
}

.agregar_carrito{
    background-color: var(--celeste-logo);
    border: none;
    border-radius: 6px;
    color: var(--blanco);
    cursor: pointer;
    font-weight: 500;
    height: 50px;
    margin: 30px auto 20px auto;        
    width: 100%;
}

.agregar_carrito:hover{
    background-color: var(--turq);
}


.desc_prod_btns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
}

.desc_prod-btn{
    background-color: var(--fondo-main);
    color: var(--turq);
    cursor: pointer;
    border: none;        
    border-radius: 5px;
    height: 30px;
}

.desc_prod-btn:hover{
    background-color: var(--turq);
    color: var(--fondo-main);
}

.desc_prod-btn:active{
    background-color: var(--celeste-logo);
    color: var(--fondo-main);
} 

.desc_prod_tex{
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    width: 100%;

}

.desc_prod_tex_1{
    color: var(--gris);
    text-align: center;
}

.desc_prod_tex_2{
    color: var(--gris);
    text-align: left;
}

.desc_prod_tex > ul{
    color: var(--gris);
    text-align: left;
    margin-top: 0;
}






/* ------------------ MAIN CARRITO ------------------ */

.cont-top-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
}


.carrito-title{
    color: var(--turq);
    font-family: "Roboto";
    font-size: 24px;
    margin: 3px 0 15px 0;;
}

/*top section carrito*/

.top-section{
    align-items: center;
    background-color: var(--fondo-main);
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    justify-content: space-between;
    padding: 8px 0 30px 0;
    width: 75%;
    height: 60%;
}

/*leftArticle*/

.leftArticle{
    width: 90%;
}


.leftArticle-breadCrum{
    font-size: 12px;
    margin: 0 auto;
    padding-left: 12px;
    width: 75%;    
}

.leftArticle-breadCrum > a{
    color: var(--gris);
    text-decoration: none;
}

.leftArticle-breadCrum > a:hover{
    color: var(--turq);
    text-decoration: underline;
    transition: all 250ms ease;
}



/*caja del carrito*/

.caja{
    display: flex;
    flex-direction: column;
    max-width: 266px;
}

.caja-producto{
    background-color: var(--gris-claro);
    border: none;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    height: 320px;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 16px;
    width: 100%;
}



.caja-producto-izquierda{
    background-color: var(--blanco);
    margin: 0 auto 0 auto;
    max-width: 198px;
    width: 80%;
}

.img-producto{
    height: 100%;
    object-fit: contain;
    padding: 16px;
    width: 100%;
}

.caja-producto-derecha{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
    width: 100%;
}

.caja-producto-derecha-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5px 22px 5px;
}

.caja-producto-derecha-bottom{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: space-between;
}

.counter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.counter__btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-rendering: auto;
}

.counter__btn > i{
    color: var(--gris-medio);
    border-radius: 50%;
    font-size: 18px;
}

.counter__btn > i:hover{
    color:var(--violet);
}

.caja-price{
    font-weight: bold;
    color: var(--fondo-main);
}



.trashCan__btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-rendering: auto;
}

.trashCan__btn > i{
    font-size: 18px;
    color: var(--gris);
}
.trashCan__btn > i:hover{
    color: var(--magenta);
}

.count-form{
    background-color: transparent;
    border: none;
    border-radius: 2px;
    color: var(--fondo-main);
    font-weight: 600;
    overflow: hidden;
    padding-left: 15px;
    width: 43px;
}

.caja-descripcion-producto{
    padding: 0 0 15px 0;
}

.linkToProduct{
    color: var(--fondo-main);
    font-size: 15px;
    font-weight: 600;
    padding: 0 0 15px 0;
    text-decoration: none;
}

.linkToProduct:hover{
    text-decoration: underline;
}

.leftArticle-btns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.leftArticle-btn{
    background-color: var(--gris-medio);
    border: none;
    border-radius: 6px;
    color: var(--fondo-main);
    cursor: pointer;
    font-weight: 500;
    padding: 5px;
    width: 45%;
}

.leftArticle-btn:hover{
    background-color: var(--gris);
    transition: all 350ms ease;
}

.seguirComprando{
    background-color: var(--turq);
    border: none;
    border-radius: 6px;
    color: var(--fondo-main);
    text-align: center;
    text-decoration: none;
    padding: 5px;
    width: 45%;
}

.seguirComprando:hover{
    background-color:  var(--celeste-logo);
    transition: all 250ms;
}



/* --- rightArticle --- */

.rightArticle {
    border: 1px var(--gris-claro) solid;
    border-radius: 16px;
    margin: 48px 0;
    padding: 0 14px 18px 14px;
    width: 282px;
}

.rightArticle-div{
    display: flex;
    justify-content: space-between;
    margin: 24px 0 24px 0;
}

.rightArticle-resumenDeOrden{
    color: var(--turq);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.hr__divis{
    border: none;
    border-bottom: 2px var(--magenta) solid;
    width: 100%;
}

.rightArticle-div-total{
    display: flex;
    justify-content: space-between;
}

.rightArticle-div-cupon{
    margin: 30px 0 30px 0;
}

.rightArticle-div > input{
    border: none;
    border-radius: 6px;
    font-size: 14px;
    height: 36px;
    padding-left: 10px;
    width: 70%;
}

.rightArticle-div-finalizar{
    display: flex;
    justify-content: center;
}

.rightArticle-div > p{
    color: var(--gris-claro);
    font-weight: bold;
}


.totalP, .totalPrice{
    font-size: 24px;
    font-weight: bold;
}

.totalP{
    color: var(--gris-claro);
}

.totalPrice{
    color: var(--turq);
}

.rightArticle-button{
    color: var(--blanco);
    cursor: pointer;
    background-color: var(--gris-osc);
    border: none;
    border-radius: 6px;
    font-weight: 500;
    height: 50px;
    width: 60%;
}

.rightArticle-button:hover{
    animation: box-highlight 2s linear infinite;
    transition: all 400ms linear;
}

/*Main Carrito Bottom Section*/


.bottom-section{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 80%;
}
.bottom-section-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bottom-section-top{
    margin-top: 30px;
    margin-bottom: 20px;
}


.bottom-section-title{
    color: var(--gris-claro);
}



/* ---------------- REGISTRO -------------*/


.cont-form-rg{
    margin: 0 auto 0 auto;
}

.form-registro{
    align-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--gris);
    border-radius: 16px;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    height: auto;
    justify-content: center;
    margin: 40px auto 0 auto;
    min-width: 300px;
    padding: 24px 0 24px 0;
    width: 30%;

}

.cont-rg{
    border-top: solid 2px var(--magenta);
    border-bottom: solid 2px var(--magenta);
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    min-width: 215px;
    padding: 28px 0 7px 0;
    width: 70%;
}

.rg__campos, .rg__avatar, .rg__nac, .campos__textarea{
    background-color: var(--gris-claro);
    border: 1px solid var(--gris-osc);
    border-radius: 8px;
    font-size: 15px;
    height: 40px;
    margin: 8px 0 8px 0;
    width: 100%;
}
.rg__campos{
    padding-left: 15px;
}
.rg__avatar{
    padding: 8px 0 0 8px;
}

.rg__nac{
    padding: 0 15px 0 8px;
}

.registro__cont{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 0 10px 0;
}

.rg__subtitulo{
    align-self: flex-start;
    border-bottom: solid 2px var(--magenta);
    color: var(--turq);
    font-size: 14px;
    width: 100%;
}



/*------------ LOGIN--------------------*/





.cont-form-login{
    margin: 0 auto 0 auto;
}

.login__form{
    align-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--gris);
    border-radius: 16px;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin: 40px auto 0 auto;
    padding: 15px 0;
    min-width: 300px;
    width: 25%;
}

.titulo-login{
    align-self: flex-start;
    color: var(--turq);
}

.form-lg{
    border-top: solid 2px var(--magenta);
    border-bottom: solid 2px var(--magenta);
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    padding: 28px 0 28px 0;
    min-width: 250px;
    width: 60%;
}

.form-lg__campos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 0 10px 0;
}

.lg__campos{
    background-color: var(--gris-claro);
    border: 1px solid var(--gris-osc);
    border-radius: 8px;
    font-size: 15px;
    height: 40px;
    margin-top: 8px;
    padding-left: 15px;
    width: 100%;
}

.lg__descrip{
    color: var(--gris);
    margin: 0;
}

.form-lg__btn, .add__btn{
    background-color: var(--gris-osc);
    border: none;
    color: var(--blanco);
    cursor: pointer;
    font-weight: 500;
    width: 180px;
    height: 50px;
}

.form-lg__btn:hover, .add__btn:hover{
    animation: box-highlight 2s linear infinite;
    transition: all 400ms linear;

}

.lg-msg{
    color: var(--gris);
    font-size: 12px;
}

.lg-msg > a{
    color: var(--turq);
    font-size: 12px;
    text-decoration: none;
}

.lg-msg > a:hover{
    text-decoration: underline;
}


/* -------- ADMIN ADD  -------- */


.cont-admin{
    display: block;
    margin: 0 auto 0 auto;
    width: 75%;
}

.admin__nav{
    padding: 2px 0;
    background-color: var(--gris-int);
    margin-top: 24px;
}

.nav__admin-menu{
    text-align: center;
    padding: 0;
}

.menu__items{
    background: var(--negro);
    border-left: 4px solid var(--negro);
    cursor: pointer;
    height: 46px;
    list-style: none;
    padding: 14px 0 0 0;
    margin: 10px;
}

.menu__items > a{
    font-size: 14px;
    font-weight: 500;
    color: var(--gris-medio);
    padding-left: 15px;
    text-decoration: none;
}

.menu__items:hover{
    border-left: 4px solid var(--magenta);
}

.menu__items:hover > a{
    color: var(--magenta);
}



.admin-forms{
    border: solid 1px var(--gris);
    border-radius: 16px;
    padding: 0 16px;
    margin: 40px auto 0 auto;
    width: 100%;
}

.campos__column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 22px 0;
    
}
.form-title{
    color: var(--turq);
    font-size: 24px;
}

.forms__div{
    border: solid var(--magenta) 1px;
}

.campos__textarea{
    height: 136px;
}

.add__btn{
    margin: 10px 0;
    width: 100%;
}

/* -------- PRODUCT LIST  -------- */

.nav__prodList{
    padding: 2px 0;
    background-color: var(--gris-int);
    margin-top: 24px;
}

.prodList__menu{
    display: none;
}



.prodList__dropdwn{
    background-color: var(--negro);
    height: 48px;
    list-style: none;
    margin: 36px auto;
    padding: 14px 0 0 0; 
    text-align: center;
    width: 248px;
}

.prodList__dropdwn > a{
    color: var(--gris);
    font-weight: 500;
    text-decoration: none;

}


.dropdwn__categories {
    background: rgba(0,0,0,0.85);
    border-top: 1px solid var(--gris-medio);
    display: none;
    padding: 0;
    position: absolute;
    width: 248px;
    z-index: 999;
}

.dropdwn__categories > li {
    list-style: none;
    margin: 24px 0;
}

.dropdwn__categories > li > a{
    border: none;
    color: var(--gris-medio);
    font-weight: 500;
    text-decoration: none;

}

.dropdwn__categories > li > a:hover{
    color: var(--magenta);
    font-weight: 600;
}

.prodList__dropdwn:hover .dropdwn__categories {
    display: block;
}

.cont-dest__link{
    scroll-snap-type: start;
    text-decoration: none;
}

.prodDisplay__cont{
    background-color: var(--fondo-main);
    border: var(--gris-medio) 1px solid;
    border-radius: 12px;
    height: 388px;
    margin: 15px auto;
    position: relative;
    width: 260px;
}

.prodDisplay__cont:hover{
    box-shadow: 3px 3px 5px var(--negro);
    transition: all 250ms ease-in;
    transform: scale(102%, 102%);
}

.dispDesc__nombre{
    font-size: 16px;
    color: var(--gris-claro);
    margin: 15px auto 5px auto;
    text-align: center;
}

.dispDesc__precio{
    color: var(--magenta);
    font-size: 22px;
    font-weight: 600;
    margin: 0 auto 0 auto;
    text-align: center;
}

.dispDesc__btn{
    background-color: var(--turq);
    border: none;
    border-radius: 6px;
    bottom: 8px;
    cursor: pointer;
    height: 36px;
    left: 20px;
    position: absolute;
    text-align: center;
    width: 218px;
}

.dispDesc__btn:hover{
    background-color: var(--celeste-logo);
}




/* -------- FOOTER  -------- */

footer{
    height: auto;
    background-color: var(--negro);
    justify-content: space-around;
    margin: 0px auto 0px auto;
    padding-bottom: 40px;
    padding-top: 24px;
    width: 100%;

}

.contenedor-footer{
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px auto 5px auto;
}



/* -------- LOGO -------- */



.footer__logo{
    display: none;

}

.logo__ft-img{
    width:100%;
}

/* -------- TITULARES -------- */

.footer_elem{
    display: none;
}


.h3-footer{
    display: none;
    color: var(--gris-claro);
    font-size: 18px;
    margin: 0;
    font-weight: 700;
}


/* -------- LINKS   -------- */


.elem__links{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.elem__links > ul > li{
    list-style: none;
}

.elem__links > ul > li, .elem__links > ul > li > a{
    color: var(--gris-claro);
    font-size: 12px;
    font-weight: 400;
    list-style: none;
    margin-bottom: 10px;
}

.elem__links > ul{
    margin-top: 24px;
    padding:0%;
}

.elem__links > ul > li > a{
    text-decoration: none;

}

.elem__links > ul > li > a:hover{
    color: var(--turq);
    text-decoration: underline;

}




/* -------- REDES Y NEWSLETTER   -------- */



/* --------- Links redes --------- */

.links__redes{
    margin-bottom: 10px;

}

.buttons__rs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
}

.buttons__rs > li{
    align-content: center;
    background-color: var(--gris-osc);
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-decoration: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 48px;
    justify-content: center;
    margin: 0 12px 0 12px;
    padding: 10px;
    width: 48px;
}


.buttons__rs > li > a{
    align-self: center;

}

.buttons__rs > li > a > i{
    color: var(--blanco);
    font-size: 24px;
    text-align: center;
    text-decoration: none;

}


.rs__ig:hover{
    background-color: var(--magenta);

}
.rs__fb:hover{
    background-color: #2374e1;

}
.rs__yt:hover{

    background-color: #c00;
}

.rs__tw:hover{
    background-color: rgb(29, 155, 240);
}




/* --------- Newsletter --------- */

.links__newsletter{
    display: none;
}


.newsletter__bar{
    margin-top: 15px;
    position: relative;
    width: 240px;
}

.newsletter__mail{
    font-size: 14px;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 28px;
    padding-left: 8px;
    width: 100%;
}


.bar__send {
    background-color: var(--gris-osc);
    color: var(--fondo-main);
    border: 1px solid var(--gris-osc);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    height: 28px;
    position: absolute;
}




@media (min-width:578px){

    /*HEADER*/

    header{
        padding: 6px 0 0 0;
    }

    .contenedor-header{
        align-items: center;
        margin: 0px auto 0px auto;
        padding: 6px 6px 4px 6px;
        width: 90%;
    }

    div.guarda{
        top: 102px;
    }


    .header__logo{
        position: relative;

    }

    .header__elem{
        width: 220px;
    }

    /*FOOTER*/

    .contenedor-footer{
        justify-content: space-around;
    }

    .footer__logo{
        display: block;
        width: 104px;
    }

    /*CARRITO*/
    .leftArticle-breadCrum {
        padding-left: 19px;
    }

    .caja {
        margin: 0 auto;
        max-width: 311px;
        width: 70%;
    }

    .leftArticle-btns {
        margin: 0 auto;
        max-width: 311px;
        width: 70%;
    }   


    /*PRODUCTO*/

    .iconos_prod {
        justify-content: space-between;
    }


}

@media (min-width:769px){

    /*HEADER*/


    .contenedor-header{
        align-items: flex-end;
        padding: 12px 8px 4px 8px;
        width: 85%;
    }

    .menu__lista > li > a {
        font-size: 14px;
    }

    .area-bar__search {
        width: 90%;
    }


    .header__elem{
        width: 320px;
    }

    .area-bar__search {
        width: 100%;
    }

    /* PRODUCT LIST */


    .prodDisplay{
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }



    /*FOOTER*/

    .contenedor-footer{
        justify-content: space-between;
        margin: 5px auto 5px auto;
        padding: 12px 0px;
        width: 85%;
    }

    .footer__logo{
        display: block;
        width: 104px;
    }

    .links__newsletter{
        display: block;
        margin-top: 15px;
    
    }

    .admin__nav{
        margin: 41px auto 0 auto;
        width: 50%;
    }

    /*CARRITO*/
    .leftArticle-breadCrum {
        padding-left: 19px;
    }

    .caja {
        width: 60%;
    }

    .leftArticle-btns {
        width: 60%;
    }       


}

@media (min-width:993px){

    /*HEADER*/

    header{
        padding: 4px 0;
    }

    div.guarda{
        top: 102px;
    }

    .elem__burger{
        display:none;
    }

    .contenedor-header{
        align-items: flex-end;
        margin: 0px auto 0px auto;
        padding: 8px 0px 0px 0px;
        width: 85%;
    }

    .header__menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .menu__lista > li > a {
        font-size: 12px;
        margin: 0 5px 0 5px;
    }

    .area-bar__search {
        width: 90%;
    }


    .header__elem{
        width: 320px;
    }

    .area-bar__search {
        width: 100%;
    }

    /* HOME */

    .main-home{
        padding-top: 108px;
    }

    .ss-home-ppal {
        height: 286px;
    }

    .main-home__sect-cont{
        display: flex;
        height: 196px;
    }

    .buttons__round{
        font-size: 42px;
    }

    .buttons__links {
        display: block;
    }

    .cont-prod__categorias{
        color: var(--gris-medio);
        font-size: 24px;
        font-weight: 500;
        text-align: left;
    }

    .cont-prod__articulos {
        justify-content: space-between;
    }

    .cont-dest{
        margin: 15px 15px 15px 0;
    }

    .main-home__banner-marcas{
        display: block;
    }


    /* PRODUCT LIST */

    .prodListing{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 24px 0 0 0;
        justify-content: space-around;
        width: 90%;
    }

    .nav-prodList{
        width: 25%;
    }

    .prodList__dropdwn{
        display: none;
    }
    
    .prodList__menu{
        background-color: var(--gris-int);
        display: block;
        padding: 1px 0;
        width: 100%;
    }
    
    .prodDisplay{
        align-items: flex-start;
        justify-content: space-evenly;
        width: 75%;
    }

    .prodDisplay__cont {
        margin: 16px 12px 10px 0px;
    }



    /*FOOTER*/

    .contenedor-footer{
        justify-content: space-between;
        margin: 5px auto 5px auto;
        padding: 12px 0px;
        width: 85%;
    }

    .footer__logo{
        display: block;
        width: 104px;
    }

    .links__newsletter{
        display: block;
        margin-top: 15px;
    
    }    

    .h3-footer{
        display: block;
        color: var(--gris-claro);
        font-size: 18px;
        margin: 0;
        font-weight: 700;
    }


    /* ADMIN ADD*/
    .cont-admin{
        display: flex;
        align-items: flex-start;
        padding: 48px 0;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 85%;
    }

    .admin__nav{
        margin: 24px auto 0 auto;
        margin-top: 0px;
        width: 30%;
    }

    .admin-forms{
        margin: 0px;
        width: 60%;
    }

    /*CARRITO*/
    .leftArticle-breadCrum {
        margin: 0;
        padding-left: 0;
        width: 90%;
    }

    .cont-top-section {
        margin: 0 auto;
        width: 85%;
    }

    .top-section{
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .caja {
        margin: 0;
        max-width: 549px;
        width: 90%;
    }

    .caja-producto {
        align-content: space-around;
        flex-direction: row;
        height: 256px;
        justify-content: flex-start;
        padding: 16px;
        width: 100%;
    }

    .caja-producto-izquierda {
        width: 72%;

    }

    .leftArticle {
        width: 65%;
    }

    .leftArticle-btns {
        margin: 0;
        max-width: 497px;
        width: 100%;
    }

    .leftArticle-btn {
        width: 22%;
    }
    .seguirComprando{
        width: 22%;
    }
    
    .rightArticle{
        width: 35%;
    }

    .rightArticle-button{
        margin: 15px 0 10px 0;
    }

    /*PRODUCTO*/

    .cont-det-producto-top{
        flex-direction: row;
    }

    .cont-img-prod{
        width: 50%;
    }

    .cont_des_prod {
        padding: 0;
        width: 40%;
    }

    .titulo__prod {
        margin: 0 0 24px 0;
    }

    .desc_prod {
        height: 15%;
    }

    .iconos_prod {
        margin: 19px 0;
    } 
    
    .cont-det-producto-bot {
        margin: 32px auto 0 auto;
    }

    .desc_prod_btns {
        margin-bottom: 15px;
    }
    
    .desc_prod-btn {
        font-size: 20px;
    }


}

@media (min-width:1200px){

    /*HEADER*/

    .menu__lista > li > a {
        font-size: 14px;
        margin: 0 8px 0 8px;
    }

    /*FOOTER*/


    .contenedor-footer{
        margin: 15px auto 5px auto;
    }

    .footer_elem{
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 40%;
    }


    /* HOME */

    .ss-home-ppal {
        height: 332px;
    }

    .main-home__cont-prod {
        width: 85%;
    }

    /* PRODUCT LIST*/

    .prodListing{
        width: 85%;
    }



    .nav-prodList {
        width: 22%;
    }


    .prodDisplay{
        justify-content: flex-start;
    }

    /* ADMIN ADD */

    .admin__nav {
        width: 25%;
    }

    .menu__items{
        padding: 14px 0 0 14px;
        text-align: left;
    }

    .admin-forms{
        width: 65%;
    }

    .campos__column{
        flex-direction: row;
        justify-content: space-between;
    }

    .column__forms{
        width: 45%;
    }

    /*CARRITO*/

    .cont-top-section {
        margin: 0 auto;
        width: 85%;
    }

    .caja {
        max-width: 600px;
        width: 90%;
    }

    .leftArticle-btns {
        max-width: 600px;
    }
   

    .rightArticle-button{
        margin: 15px 0 10px 0;
    }



}

@media (min-width:1400px){

    /*HEADER*/

    header{
        height: 92px;

    }

    .header__menu{
        display: flex;
    }

    .menu__lista > li > a {
        margin: 0 22px 0 22px;
    }

    div.guarda{
        top: 88px;
    }

    .elem__burger{
        display:none;
    }

    .contenedor-header{
        padding: 0px;
        width: 75%;
    }

    .menu__lista > li > a {
        font-size: 14px;
    }

    .area-bar__search {
        width: 100%;
    }

    /*FOOTER*/

    .contenedor-footer{
        width: 75%;
    }

    /*HOME*/

    .main-home {
        padding-top: 90px;
    }

    .ss-home-ppal {
        height: 100%;
    }

    .main-home__cont-prod {
        width: 75%;
    }


    /* PRODUCT LIST*/

    .nav-prodList {
        margin-right: 20px;
        width: 208px;
    }

    .prodListing{
        width: 78%;
        justify-content: space-around;
    
    }

    .prodDisplay {
        width: 75%;
    }

    .prodDisplay__cont {
        margin: 16px 6px 0px 6px;
    }



    /* ADMIN ADD */

    .cont-admin{
        width: 75%;
    }


    .admin__nav {
        margin: 24px 0 0 0;
        width: 22%;
    }

    .admin-forms {
        padding: 0 32px;
        width: 72%;
    }

    /*CARRITO*/

    .cont-top-section {
        width: 75%;
    }

    .caja {
        max-width: 690px;
    }

    .linkToProduct {
        font-size: 18px;
    }

    .caja-price {
    font-size: 18px;
    }

    .leftArticle {
        width: 60%;
    }

    .leftArticle-btns {
        max-width: 690px;
    }

    .rightArticle {
        max-width: 400px;
        width: 40%;
    }
   

    .rightArticle-button{
        margin: 15px 0 10px 0;
    }

    /*PRODUCTO*/


    .article-breadCrum {
        width: 60%;
    }


    .cont-det {
        width: 60%;
    }

    .cont-det-producto-top{
        justify-content: space-around;
    }

    .cont-img-prod{
        min-width: 480px;
        width: 40%;
    }

    .cont_des_prod {
        margin: 0 0 0 59px;
        width: 45%;
    }

    .titulo__prod {
        margin: 0 0 24px 0;
    }

    .desc_prod {
        height: 85px;
    }

    .iconos_prod {
        margin: 19px 0;
    } 
    
    .cont-det-producto-bot {
        margin: 32px auto 0 auto;
    }

    .desc_prod_btns {
        margin-bottom: 15px;
    }
    
    .desc_prod-btn {
        font-size: 20px;
    }

    .agregar_carrito {
        width: 50%;
    }

}

