/* ---------------- MAIN REGISTRO -------------*/


.cont-form-rg{
    margin: 0 auto 0 auto;
}

.form-registro{
    align-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--gris);
    border-radius: 16px;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    height: auto;
    justify-content: center;
    margin: 40px auto 0 auto;
    min-width: 300px;
    padding: 24px 0 24px 0;
    width: 30%;

}

.cont-rg{
    border-top: solid 2px var(--magenta);
    border-bottom: solid 2px var(--magenta);
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    min-width: 215px;
    padding: 28px 0 7px 0;
    width: 70%;
}

.rg__campos, .rg__avatar, .rg__nac, .campos__textarea{
    background-color: var(--gris-claro);
    border: 1px solid var(--gris-osc);
    border-radius: 8px;
    font-size: 15px;
    height: 40px;
    margin: 8px 0 8px 0;
    text-transform: capitalize;
    width: 100%;
}

.rg__campos{
    padding-left: 15px;
}

.rg__avatar{
    padding: 8px 0 0 8px;
}

.rg__nac{
    padding: 0 15px 0 8px;
}

.registro__cont{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 0 10px 0;
}

.rg__subtitulo{
    align-self: flex-start;
    border-bottom: solid 2px var(--magenta);
    color: var(--turq);
    font-size: 14px;
    width: 100%;
}


/*------------ MAIN LOGIN --------------*/

.cont-form-login{
    margin: 0 auto 0 auto;
}

.login__form{
    align-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--gris);
    border-radius: 16px;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin: 40px auto 0 auto;
    padding: 15px 0;
    min-width: 300px;
    width: 25%;
}

.titulo-login{
    align-self: flex-start;
    color: var(--turq);
}

.form-lg{
    border-top: solid 2px var(--magenta);
    border-bottom: solid 2px var(--magenta);
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    padding: 28px 0 28px 0;
    min-width: 250px;
    width: 60%;
}

.form-lg__campos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 0 10px 0;
}

.lg__campos{
    background-color: var(--gris-claro);
    border: 1px solid var(--gris-osc);
    border-radius: 8px;
    font-size: 15px;
    height: 40px;
    margin-top: 8px;
    padding-left: 15px;
    width: 100%;
}

.lg__descrip{
    color: var(--gris);
    margin: 0;
}

.errorMsg{
    background-color: #FFA8B5;
    color: #400000;
    font-size: 12px;
    padding: 6px;
}

.form-lg__btn, .add__btn{
    background-color: var(--gris-osc);
    border: none;
    border-radius: 6px;
    color: var(--blanco);
    cursor: pointer;
    font-weight: 500;
    width: 180px;
    height: 50px;
}

.form-lg__btn:hover, .add__btn:hover{
    animation: box-highlight 2s linear infinite;
    transition: all 400ms linear;

}

.lg-msg{
    color: var(--gris);
    font-size: 12px;
}

.lg-msg > a{
    color: var(--turq);
    font-size: 12px;
    text-decoration: none;
}

.lg-msg > a:hover{
    text-decoration: underline;
}

/**** MEDIA QUERIES */

@media (min-width:578px){

    /*FOOTER*/

    .contenedor-footer{
        justify-content: space-around;
    }

    .footer__logo{
        display: block;
        width: 104px;
    }

    /*CARRITO*/
    .leftArticle-breadCrum {
        padding-left: 19px;
    }

    .caja {
        margin: 0 auto;
        max-width: 311px;
        width: 70%;
    }

    .leftArticle-btns {
        margin: 0 auto;
        max-width: 311px;
        width: 70%;
    }

    .rightArticle {
        width: 348px;
    }


    /*PRODUCTO*/

    .iconos_prod {
        justify-content: space-between;
    }


}

@media (min-width:769px){

    /* PRODUCT LIST */


    .prodDisplay{
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }



    /*FOOTER*/

    .contenedor-footer{
        justify-content: space-between;
        margin: 5px auto 5px auto;
        padding: 12px 0px;
        width: 85%;
    }

    .footer__logo{
        display: block;
        width: 104px;
    }

    .links__newsletter{
        display: block;
        margin-top: 15px;
    
    }

    .admin__nav{
        margin: 41px auto 0 auto;
        width: 50%;
    }

    /*CARRITO*/
    .leftArticle-breadCrum {
        padding-left: 19px;
    }

    .caja {
        width: 60%;
    }

    .leftArticle-btns {
        width: 60%;
    }       


}

@media (min-width:993px){

    .main-general{
        min-height: 0;
    }
    

    /* HOME */

    .main-home{
        padding-top: 108px;
    }

    .ss-home-ppal {
        height: 286px;
    }

    .main-home__sect-cont{
        display: flex;
        height: 196px;
    }

    .buttons__round{
        font-size: 42px;
    }

    .buttons__links {
        display: block;
    }

    .cont-prod__categorias{
        text-align: left;
    }

    .cont-prod__articulos {
        justify-content: space-between;
    }

    .cont-dest{
        margin: 15px 15px 15px 0;
    }

    .main-home__banner-marcas{
        display: block;
    }


    /* PRODUCT LIST */

    .prodListing{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 24px 0 0 0;
        justify-content: space-around;
        width: 90%;
    }
    
    .prodList__dropdwn{
        display: none;
    }

    .nav-prodList{
        height: 100%;
        padding-top: 14px;
        width: 218px;
    }
    
    .prodList__menu{
        align-content: center;
        background-color: var(--gris-int);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 5px 0px;
        width: 100%;
    }

    .menu__items{
        padding: 14px 0 0 14px;
        text-align: left;
    }
    
    .prodDisplay{
        align-items: flex-start;
        justify-content: space-evenly;
        width: 75%;
    }

    .prodDisplay__cont {
        margin: 16px 12px 10px 0px;
    }

    /*FOOTER*/

    .contenedor-footer{
        justify-content: space-between;
        margin: 5px auto 5px auto;
        padding: 12px 0px;
        width: 85%;
    }

    .footer__logo{
        display: block;
        width: 104px;
    }

    .links__newsletter{
        display: block;
        margin-top: 15px;
    
    }    

    .h3-footer{
        display: block;
        color: var(--gris-claro);
        font-size: 18px;
        margin: 0;
        font-weight: 700;
    }


    /* ADMIN ADD*/
    .cont-admin{
        display: flex;
        align-items: flex-start;
        padding: 48px 0;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 85%;
    }

    .admin__nav{
        background-color: var(--gris-int);
        margin-top: 0px;
        padding: 2px 0;
        width: 280px;
    }

    .admin-forms{
        margin: 0px;
        width: 60%;
    }

    .form-title{
        text-align: left;
    }

    /*CARRITO*/
    .leftArticle-breadCrum {
        margin: 0;
        padding-left: 0;
        width: 90%;
    }

    .cont-top-section {
        margin: 0 auto;
        width: 85%;
    }

    .top-section{
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 75%;
    }

    .caja {
        margin: 0;
        max-width: 549px;
        width: 90%;
    }

    .caja-producto {
        align-content: space-around;
        flex-direction: row;
        height: 208px;
        justify-content: flex-start;
        max-width: 440px;
        padding: 16px;
        width: 100%;
    }

    .caja-producto-izquierda {
        margin-right: 5px;
        width: 72%;

    }

    .leftArticle {
        width: 65%;
    }

    .leftArticle-btns {
        margin: 0;
        max-width: 440px;
        width: 100%;
    }

    .leftArticle-btn {
        width: 132px;
    }
    .seguirComprando{
        width: 132px;
    }
    
    .rightArticle{
        width: 35%;
    }

    .rightArticle-button{
        margin: 15px 0 10px 0;
    }

    /*PRODUCTO*/

    .cont-det-producto-top{
        flex-direction: row;
    }

    .cont-img-prod{
        width: 50%;
    }

    .cont_des_prod {
        padding: 0;
        width: 40%;
    }

    .titulo__prod {
        margin: 0 0 24px 0;
    }

    .desc_prod {
        height: 15%;
    }

    .iconos_prod {
        margin: 19px 0;
    } 
    
    .cont-det-producto-bot {
        margin: 32px auto 0 auto;
    }

    .desc_prod_btns {
        margin-bottom: 15px;
    }
    
    .desc_prod-btn {
        font-size: 20px;
    }

    /*ADMIN PANEL*/
    .adminPanelCont{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .adminProductCont{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 16px auto;
        max-height: 112px;
        padding: 8px 25px 8px 8px;
        position: relative;
        width: 100%;
    }

    .adminProductCont__img{
        margin: 0;
        width: 88px;
        max-height: 88px;
    }
  
    .name__div{
        display: none;
    }

    .adminProductCont__name{
        margin: 4px 0 0 0;
        width: 88px;
    }
    .adminProductCont__name, .adminProductCont__data {
        font-size: 14px;
        text-align: left;
    }
    
    .adminProductCont__data {
        width: 76px;
    }

    .adminProductCont__btns{
        font-size: 14px;
        bottom: 8px;
        margin: 0;
        position: absolute;
        right: 8px;
    }

    /*CONTACTO*/
    .contactForm{
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 50px;
        width: 85%;
    }

    .contactForm__areas >p{
        text-align: left;
    }

    .contactForm__areas{
        width: 40%;

    }

}

@media (min-width:1200px){

    /*FOOTER*/

    .contenedor-footer{
        margin: 15px auto 5px auto;
    }

    .footer_elem{
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 40%;
    }


    /* HOME */

    .ss-home-ppal {
        height: 332px;
    }

    .main-home__cont-prod {
        width: 85%;
    }

    /* PRODUCT LIST*/

    .prodListing{
        width: 85%;
    }

    .prodDisplay{
        justify-content: flex-start;
    }

    /* ADMIN ADD */

    .admin-forms{
        width: 65%;
    }

    .campos__column{
        flex-direction: row;
        justify-content: space-between;
    }

    .column__forms{
        width: 45%;
    }

    /*CARRITO*/

    .cont-top-section {
        margin: 0 auto;
        width: 85%;
    }

    .caja {
        max-width: 600px;
        width: 90%;
    }

    .caja-producto {
        max-width: 530px;
    }

    .leftArticle-btns {
        max-width: 530px;
    }
   
    .rightArticle-button{
        margin: 15px 0 10px 0;
    }
}

@media (min-width:1400px){

    /*FOOTER*/

    .contenedor-footer{
        width: 75%;
    }

    /*HOME*/

    .main-home {
        padding-top: 90px;
    }

    .ss-home-ppal {
        height: 100%;
    }

    .main-home__cont-prod {
        width: 75%;
    }

    /* PRODUCT LIST*/

    .nav-prodList {
        margin-right: 20px;
    }

    .prodListing{
        width: 78%;
        justify-content: space-around;
    
    }

    .prodDisplay {
        width: 75%;
    }

    .prodDisplay__cont {
        margin: 16px 6px 0px 6px;
    }

    /* ADMIN ADD */

    .cont-admin{
        width: 75%;
    }

    .admin-forms {
        padding: 0 32px;
        width: 72%;
    }

    /*CARRITO*/

    .cont-top-section {
        width: 75%;
    }

    .caja {
        max-width: 690px;
    }

    .linkToProduct {
        font-size: 16px;
    }

    .caja-price {
    font-size: 18px;
    }

    .caja-producto {
        max-width: 573px;
    }

    .leftArticle {
        width: 60%;
    }

    .leftArticle-btns {
        max-width: 573px;
    }

    .rightArticle {
        max-width: 400px;
        width: 40%;
    }
   
    .rightArticle-button{
        margin: 15px 0 10px 0;
    }

    /*PRODUCTO*/


    .article-breadCrum {
        width: 60%;
    }


    .cont-det {
        width: 60%;
    }

    .cont-det-producto-top{
        justify-content: space-around;
    }

    .cont-img-prod{
        min-width: 480px;
        width: 40%;
    }

    .cont_des_prod {
        margin: 0 0 0 59px;
        width: 45%;
    }

    .titulo__prod {
        margin: 0 0 24px 0;
    }

    .desc_prod {
        height: 85px;
    }

    .iconos_prod {
        margin: 19px 0;
    } 
    
    .cont-det-producto-bot {
        margin: 32px auto 0 auto;
    }

    .desc_prod_btns {
        margin-bottom: 15px;
    }
    
    .desc_prod-btn {
        font-size: 20px;
    }

    .agregar_carrito {
        width: 50%;
    }

    /*ADMIN PANEL*/

    .adminProductCont{
        height: 120px;

    }

    /*CONTACTO*/
    .contactForm{
        width: 75%;
    }

}
