<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %> 
<body>

    <%- include('../partials/header') %> 

    <main class="main-general">

        <section class="cont-admin">

            <nav class="admin__nav">
                <ul class="nav__admin-menu">
                    <li class="menu__items"><a href="#">PANEL DE CONTROL</a></li>
                    <li class="menu__items"><a href="#">CARGA DE PRODUCTOS</a></li>
                    <li class="menu__items"><a href="#">EDICIÓN DE PRODUCTOS</a></li>
                    <li class="menu__items"><a href="#">VENTAS</a></li>
                    <li class="menu__items"><a href="#">MENSAJES</a></li>
                </ul>

            </nav>

            <section class="admin-forms">
                <h2 class="form-title">Agregar producto</h2>
                <hr class="forms__div">
                <article class="campos__column">

                    <div class="column__forms">
                        <form action="/producto" method="POST" class="forms__campos">
                            <label for="name">
                                <p class="lg__descrip">Nombre del producto*</p>                        
                                <input class="rg__campos" type="text" id="name" name="name" placeholder="Nombre del producto..." required>
                                <span class="feedback"></span>
                            </label>
                            <label for="category">
                                <p class="lg__descrip">Categoría*</p>                        
                                <select class="rg__campos" id="category" name="category" required>
                                <option value="Notebooks" selected>Notebooks</option>
                                <option value="Notebooks">Periféricos</option>
                                <option value="Notebooks">Accesorios</option>
                                <option value="Notebooks">Componentes</option>
                                <option value="Notebooks">Sillas</option>
                                <option value="Notebooks">Varios</option>
                            </select>
                            <span class="feedback"></span>
                            </label>
                            <label for="precio">
                                <p class="lg__descrip">Precio*</p>                        
                                <input class="rg__campos" type="number" id="precio" name="precio" placeholder="$99999" required>
                                <span class="feedback"></span>
                            </label>
                            <label for="foto-producto">
                                <p class="lg__descrip">Foto de producto*</p>
                                <input class="rg__avatar" type="file" name="foto-producto" id="foto-producto" accept=".jpg, .png, .webp" required>
                                <span class="feedback"></span>
                            </label>
                            <label for="foto-producto">
                                <p class="lg__descrip">Fotos alternativas</p>
                                <input class="rg__avatar" type="file" name="foto-producto" id="foto-producto" accept=".jpg, .png, .webp">
                            </label>
                        </form>
                    </div>
                    <div class="column__forms">
                        <form action="/producto" method="POST" class="forms__campos">
                            <label for="descripcion">
                                <p class="lg__descrip">Descripción del producto*</p>                        
                                <input class="campos__textarea" type="textarea" id="descripcion" name="descripcion" placeholder="Descripción del producto..." required>
                                <span class="feedback"></span>
                            </label>
                            <label for="specs">
                                <p class="lg__descrip">Características técnicas*</p>                        
                                <input class="campos__textarea" type="textarea" id="specs" name="specs" placeholder="Características técnicas..." required>
                                <span class="feedback"></span>
                            </label>

                            <button class="add__btn" type="submit">Agregar</button>
                        
                        </form>
                    </div>
                </article>
                
            </section>


        </section>


    </main>
    
    <%- include('../partials/footer') %> 
</body>
</html>