<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title : 'DFT - Login'}) %> 
<body>

    <%- include('../partials/header') %> 



    <main class="main-general">

        <section class="cont-form-login">

            
            <form class="login__form" action="/users/login" method="POST">
                
                <h2 class="titulo-login">Login</h2>
                
                    <article class="form-lg">

                        <div class="form-lg__campos">
                            <label for="email">
                                <p class="lg__descrip">Correo Electrónico</p>
                                  <input class="lg__campos" type="email" name="email" id="email" placeholder="usuario@mail.com" required>
                                  <span class="feedback"></span>
                            </label>
                        </div>
                        
                        <div class="form-lg__campos">
                            <label for="password">
                                <p class="lg__descrip">Contraseña</p>  
                                <input class="lg__campos" type="password" name="password" id="password" placeholder="******" required>
                                <span class="feedback"></span>
                            </label>
                        </div>
                        
                    </article>
                        
                    <button class="form-lg__btn" type="submit" value="">Ingresá</button>
                    
                    <p class="lg-msg">¿No tenés cuenta?  <a href="/users/register">Registrate</a></p>
                    
                </form>
                
        </section>


    </main>

    <%- include('../partials/footer') %> 
    
</body>
</html>