<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %> 
<body>

    <%- include('../partials/header') %> 
        

    <main class="main-general">

        <section class="cont-form-rg">

            <form class="form-registro" action="/users/register" method="POST" enctype="multipart/form-data">
            
                <h2 class="titulo-login">Registro de usuarios</h2>

                <article class="cont-rg">

                    
                    <div class="registro__cont">

                        <label for="firstName">
                            <p class="lg__descrip">Nombre*</p>                        
                            <input class="rg__campos" type="text" id="firstName" name="firstName" placeholder="Juan" required>
                            <span class="feedback"></span>
                        </label>
                    
                        <label for="lastName">
                            <p class="lg__descrip">Apellido*</p>
                            <input class="rg__campos" type="text" id="lastName" name="lastName" placeholder="Perez" required>
                            <span class="feedback"></span>
                        </label>

                        <label for="birth">
                            <p class="lg__descrip">Fecha de nacimiento*</p>
                            <input class="rg__nac" type="birth" id="birth" name="birth" required>
                            <span class="feedback"></span>
                        </label>
                        
                        <label for="image">
                            <p class="lg__descrip">Foto de perfil</p>
                            <input class="rg__avatar" type="file" name="image" id="image" accept=".jpg, .png">
                            <span class="feedback"></span>
                        </label>
                        
                        <label for="phone">
                            <p class="lg__descrip">Teléfono*</p>
                            <input class="rg__campos" type="phone" name="phone" id="phone" placeholder="(011)11111111" required>
                            <span class="feedback"></span>
                        </label>

                    </div>
                    
                    <h3 class="rg__subtitulo">Dirección</h3>
                    <div class="registro__cont">
                        <label for="adress">
                            <p class="lg__descrip">Calle y altura*</p>
                            <input class="rg__campos" type="text" id="adress" name="adress" placeholder="Av. Colón 123" required>
                            <span class="feedback"></span>
                        </label>
                    </div>
                    <div class="registro__cont">
                        <label for="cp">
                            <p class="lg__descrip">Codigo postal*</p>
                            <input class="rg__campos" type="number" id="cp" name="cp" placeholder="1234" required>
                            <span class="feedback"></span>
                        </label>
                    </div>
                    <div class="registro__cont">
                        <label for="city">
                            <p class="lg__descrip">Localidad*</p>
                            <input class="rg__campos" type="text" id="city" name="city" placeholder="CABA" required>
                            <span class="feedback"></span>
                        </label>
                    </div>
                    


                    <h3 class="rg__subtitulo">Datos de la cuenta</h3>
                    <div class="registro__cont">
                        <label for="email">
                            <p class="lg__descrip">E-mail*</p>
                            <input class="rg__campos" type="email" id="email" name="email" placeholder="juan.perez@email.com" required>
                            <span class="feedback"></span>
                        </label>
                    </div>
                    
                    <div class="registro__cont">
                        <label for="password">
                            <p class="lg__descrip">Contraseña*</p>
                            <input class="rg__campos" type="password" id="password" name="password" placeholder="******" required>
                            <span class="feedback"></span>
                        </label>

                    <div class="registro__cont">
                        <label for="passwordRepeat">
                            <p class="lg__descrip">Confirmar contraseña*</p>
                            <input type="password" id="passwordRepeat" name="passwordRepeat" placeholder="******"  class="rg__campos" required>
                            <span class="feedback"></span>
                        </label>
                    </div>
                    
                </article>

                <button class="form-lg__btn" type="submit">Registrate</button>
                <p class="lg-msg">¿Ya tenés una cuenta?  <a href="/users/login">Iniciá Sesión</a></p>
                
            </form>

        </section>

    </main>
    
    
    <%- include('../partials/footer') %> 
    
</body>
</html>