<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %> 
<body>
    
    <%- include('../partials/header') %> 

    <main class="main-general">

        <section class="cont-det">
            
            <section class="cont-det-producto-top">            
            
                <!-- Contenedor de imagen del producto -->
                <section class="cont-img-prod">
                    
                    <div class="leftArticle-breadCrum">                    
                        <a class="breadCrum" href="/">Home/<a class="breadCrum" href="">Periféricos/<a class="breadCrum" href="">Mouse/</a>                      
                    </div>
                    <div class="prod__img">
                        <img class="img__ppal" src="/img/products/steelseries-rival650-001.png" alt="Imagen mouse">
                    </div>
                    
                    <!-- Imagenes alternativas -->
                    <div class="prod__alt">
                        <div class="alt__img">
                            <img class="img__fotito" src="/img/products/steelseries-rival650-002.png" alt="Imagen alternativa 1">
                        </div>
                        <div class="alt__img">
                            <img class="img__fotito" src="/img/products/steelseries-rival650-003.png" alt="Imagen alternativa 2">
                        </div>
                            <div class="alt__img">
                            <img class="img__fotito" src="/img/products/steelseries-rival650-004.png" alt="Imagen alternativa 3">
                        </div>
                    </div>
                </section>
    
    
                <!-- contenedor de Descripcion del producto -->
                <section class="cont_des_prod">
                    <h1 class="titulo__prod">Mouse SteelSeries Rival 650 Wireless</h1>
                    <hr class="titulo__divis"></hr>
                    
                    <div class="desc_prod">
                        
                            <!-- precio -->
                        <div class="precio_prod">

                         <p>$25000</p>

                        </div>                         
                        
                        <!-- Boton compra -->
                        
                        <button type="button" class="comprar_prod"><a href="/carrito"></a>Comprar</button>                        
                        
                    </div>                   
                      
                    <!-- Barra icnonos -->
                    <div class="iconos_prod">
                        <div class="iconos_prod_opinions">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>

                            <div class="iconos_prod_opinions_text">
                                <p>(50 opiniones)</p>
                            </div>
                        </div>
                        
                        <div>
                            <button type="button" class="heart_b"><i class="far fa-heart"></i></button>  
                            <button type="button" class="share_b"><i class="fa fa-share-alt"></i></button>
                        </div>
                    </div>

                    <hr class="divisor_info_ventas"></hr>

                    <div class="info_venta_prod">
                        <i class='fas fa-wallet'></i>
                        <p class="info_venta_prod-text">12 cuotas sin interés de $3.130,83</p>
                    </div>

                    <hr class="divisor_info_ventas"></hr>

                    <div class="info_venta_prod">
                        <i class='fas fa-store'></i>
                        <p class="info_venta_prod-text">Retiro gratis por sucursal</p>
                    </div>

                    <hr class="divisor_info_ventas"></hr>

                    <div class="info_venta_prod">
                        <i class='fas fa-truck'></i>
                        <p class="info_venta_prod-text">Envios a todo el pais</p>
                    </div>

                    <hr class="divisor_info_ventas"></hr>

                    <div class="info_venta_prod">
                        <i class='fas fa-user-shield'></i>
                        <p class="info_venta_prod-text">Garantia (1 año)</p>
                    </div>

                    <div class="agregar_carrito_btn_div">
                        <button type="button" class="agregar_carrito"><a href="/carrito"></a>Agregar al Carrito</button>
                    </div>
                                
                </section>         
                
            </section>

            <section class="cont-det-producto-bot">
                <!-- Botones de Descripcion de producto -->
                <div class="desc_prod_btns">
                    <button type="button" class="desc_prod-btn"><a href="/carrito"></a>Descripción</button>

                    <button type="button" class="desc_prod-btn"><a href="/carrito"></a>Especificaciones</button>
                </div>

                <hr class="titulo__divis"></hr>

                <!-- Descripcion producto -->
                <div class="desc_prod_tex">
                    <p class="desc_prod_tex_1">SteelSeries es un lider mundial en la industria de los juegos y los deportes electrónicos, que está compuesta por miles de millones de jugadores de todo el mundo y que necesitan y quieren solo el mejor equipo de juego. Fabricamos los productos más innovadores y galardonados para ayudar a los jugadores a jugar como los profesionales.<br>
                        Los profesionales de los deportes electrónicos han ganado la mayor cantidad de dinero con el equipo de SteelSeries. Para nosotros se trata de eliminar toda la exageración para satisfacer las necesidades reales de los jugadores. Ya sea en una consola, una PC o su telefono movil, su camino hacia la gloria de los juegos requiere los mejores productos de una empresa que ha creído en los deportes electrónicos y los juegos desde un principio.</p>
                </div>
        
                <div class="desc_prod_tex">
                    <p class="desc_prod_tex_2">Sensor óptico exclusivo TrueMove3:</p>

                    <ul>
                        <li>+ 12.000 CPI, 350 IPS.</li>
                        <li>Interruptores mecánicos de disparador dividido de 60 millones de clics.</li>
                        <li>Agarres laterales de silicona para mayor agarre y durabilidad.</li>
                        <li>Iluminación RGB de 8 zonas con notificaciones Discord.</li>
                        <li>Personalización total con SteelSeries.</li>
                        <li>Duración de la batería de más de 24 horas con carga rápida.</li>
                    </ul>
                </div>
            </section>
        </section>
        
        
       
        <!-- CARRUSEL DESTACADOS 2 -->
        <section class="main-home__cont-prod">

            <h2 class="cont-prod__categorias">Productos similares</h2>
        
                <nav class="cont-prod__articulos">
        
                    <%- include('../partials/carrusel') %> 
        
                </nav>
        
        </section>

    </main>

    <%- include('../partials/footer') %> 
            
</body>
</html>